.barchart .gbar {
  color: black;
  position: relative;
  display: flex;
  height: 50px;
  align-items: center;
  font-weight: bold;
  justify-content: space-between;
}

.barchart .tooltip-inner {
  max-width: 350px;
  /* If max-width does not work, try using width instead */
  width: 350px;
}

.barchart .mbar:hover {box-shadow: inset 0px 0px 500px lightgrey;}

/* .barchart .namef {width: 30%} */
.barchart .mbar {
  display: flex;
  justify-content: space-between;
  /* width: 30%; */
  font: 15px sans-serif;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: green;
  font-weight: bold;
  position: relative;
  border: 2px solid gray;
}

.barchart .mbar div {
  height: 20px;
}

.barchart .perc {
  background-color: steelblue;
}

.barchart .tick {
  position: absolute;
  width: 2px;
  background-color: black;
}

.barchart .red {background-color: red;}
