.barchart .gbar {
  color: black;
  position: relative;
  display: flex;
  height: 50px;
  align-items: center;
  font-weight: bold;
}

.barchart .namef {
  width: 70px;
}

.barchart .mbar {
  display: flex;
  justify-content: space-between;

  font: 15px sans-serif;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: green;
  font-weight: bold;
  position: relative;
  border: 2px solid gray;
}

.barchart .mbar div {
  height: 20px;
}

.barchart .perc {
  background-color: steelblue;
}

.barchart .tick {
  position: absolute;
  width: 2px;
  background-color: black;
}

.barchart .red {background-color: red;}
