.elLoader {position: relative;
min-height: 40px;
height: 100%;}
.loader {
  border: 6px solid #f3f3f3;
  border-radius: 50%;
  border-top: 6px solid #3498db;
  width: 40px;
  height: 40px;
  margin: 0px auto;
  position: absolute;
	top: 50%;
  left: 50%;
  margin-top:-20px;
  margin-left: -20px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
