<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <!-- <base href="/"> -->

  <title>AgDiago</title>
  <meta name="description" content="">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- Template Basic Images Start -->
  <meta property="og:image" content="path/to/image.jpg">
  <link rel="icon" href="img/favicon/favicon.ico">
  <link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-touch-icon-180x180.png">
  <!-- Template Basic Images End -->

  <!-- Custom Browsers Color Start -->
  <meta name="theme-color" content="#F4F7FC">
  <!-- Custom Browsers Color End -->
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
  <link rel="stylesheet" href="../updatedDesign/assets/css/bootstrap.min.css">

  <link rel="stylesheet" href="../updatedDesign/css/main.min.css">
  <script src="../updatedDesign/assets/js/jquery-3.4.0.min.js"></script>
  <script src="../updatedDesign/assets/js/jquery.selectric.js"></script>
  <script src="../updatedDesign/assets/js/popper.min.js "></script>
  <script src="../updatedDesign/assets/js/bootstrap.bundle.min.js"></script>
  <script src="../updatedDesign/assets/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="../updatedDesign/assets/css/selectric.css">
  <style>
    .tooltip-inner {
      max-width: 500px;
    }
  </style>
</head>
