<header class="header">
  <div class="container-fluid px-5">
    <div class="row">
      <div class="col-md-5">
        <div class="header__left-b">
          <div class="header__logo"><img src="../updatedDesign/img/logo.svg" style="width: 120px; height: 30px" alt="GoBearCast.com"></div>
          <div class="header__heading"><%= teamDisplay %>, <%= user.role %> <%= user.name || "Denbrock" %></div>
        </div>
      </div>
      <div class="col-md-7">
        <div class="header__right-b">
          <nav class="header__nav">
            <ul class="header__nav-list">
              <li class="header__nav-item"><a class="header__nav-link" href="/">Home</a></li>
              <li id="add-new-athlete-link" class="header__nav-item"><a class="header__nav-link" href="/addnewathlete">Add new Athlete info</a></li>
              <li id="benchmark-input-link" class="header__nav-item"><a class="header__nav-link" href="/benchmark-input">Benchmark-input</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>
