<header class="header">
  <div class="container-fluid px-5">
    <div class="row">
      <div class="col-md-5">
        <div class="header__left-b">
          <div class="header__logo"><img src="../updatedDesign/img/gobearcats-logo.svg" alt="GoBearCast.com"></div>
          <div class="header__heading"><%= teamDisplay %> <%= user.role %></div>
        </div>
      </div>
      <div class="col-md-7">
        <div class="header__right-b">
          <nav class="header__nav">
            <ul class="header__nav-list">
              <li class="header__nav-item"><a class="header__nav-link" href="/">Home</a></li>
              <li class="header__nav-item"><a class="header__nav-link" href="/addnewathlete">Add new Athlete
                  info</a></li>
            </ul>
          </nav>
          <div class="header__user-block">
            <div class="header__search">
              <a href=""><img src="../updatedDesign/img/search-icon.svg" alt=""></a>
            </div>
            <div class="header__message">
              <a href="" class="active"><img src="../updatedDesign/img/message-icon.svg" alt=""></a>
            </div>
            <a href="" class="header__user">
              <img src="../updatedDesign/img/user-avatar.png" alt="Samanta" class="header__user-avatar">
              <div class="header__user-name"><%= user.email %></div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
