<div class="modal fade" id="add-attr" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button id="close-modal" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="s-benchmark-input__form add-attr-form form">
          <div class="add-attr-form__header">
            <div class="row align-items-center">
              <div class="col-md-12 ">
                <div class="add-attr-form__heading">
                  Deleting of player
                </div>
              </div>
            </div>
          </div>
          <div class="add-attr-form__body">
            <div class="add-attr-form__group form__group">
              <div class="row">
                <div class="col-md-12 d-flex align-items-center">
                  <label id="delete-user-info" class="add-attr-form__group-label form__group-label">Player information will be deleted. Are you sure you want to delete information?</label>
                </div>
              </div>
            </div>

            <div id="delete-button-modal" class="add-attr-form__submit-btn-block form__submit-btn-block">
              <input type="button" class="add-attr-form__form-submit-btn form__submit-btn" value="Yes">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
