{
  "extends": "loopback",
  "parserOptions": {
    "ecmaVersion": 8
  },
  "rules": {
    "max-len": [
      "error",
      {
        "ignoreTemplateLiterals": true,
        "ignoreUrls": true
      }
    ]
  }
}
