.env
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
*.xml
.DS_Store
.idea
.project
.strong-pm
coverage
node_modules
docs
npm-debug.log

.vscode/*
!.vscode/launch.json

server/datasources.local.json
