<% layout('layout_main') -%>
<div id="content" class="content">
  <!-- begin breadcrumb -->
  <ol class="breadcrumb pull-right">
    <li class="breadcrumb-item"><a href="javascript:;">Home</a></li>
    <li class="breadcrumb-item active">Dashboard</li>
  </ol>
  <!-- end breadcrumb -->
  <!-- begin page-header -->
  <h1 class="page-header"><%=team %> Benchmark Input Page</h1>
  <!-- end page-header -->
  <!-- begin row -->
  <div class="row">
    <!-- begin col-6 -->
    <div class="col-lg-12">
      <!-- begin panel -->
      <div class="panel panel-inverse" id="basicInfo" data-sortable-id="index-7">
        <div class="panel-heading">
          <h4 class="panel-title">Academic attributes benchmark input</h4>
        </div>
        <div class="panel-body">
          <form id="academicform">
            <div class="form-group row m-b-15">
              <label class="col-form-label col-md-3" for="sat">SAT attributes needed</label>
              <div class="col-md-9">
                <input class="form-control m-b-5" type="text" placeholder="SAT" id="sat" />
              </div>
            </div>
            <div class="form-group row m-b-15">
              <label class="col-form-label col-md-3" for="act">ACT attributes needed</label>
              <div class="col-md-9">
                <input class="form-control m-b-5" type="text" placeholder="ACT" id="act" />
              </div>
            </div>
            <div class="form-group row m-b-15">
              <label class="col-form-label col-md-3" for="gpa">GPA attributes needed</label>
              <div class="col-md-9">
                <input class="form-control m-b-5" type="text" placeholder="GPA" id="gpa" />
              </div>
            </div>
            <div class="form-group row m-b-15">
              <label class="col-form-label col-md-3" for="coreGpa">CoreGPA attributes needed</label>
              <div class="col-md-9">
                <input class="form-control m-b-5" type="text" placeholder="coreGpa" id="coreGpa" />
              </div>
            </div>
            <div class="subbtn"><input type="submit" class="btn btn-lime" id="submit" value="Done"></div>
          </form>
          <!-- <div class="singlepar">
            <div class="formf"><input class="form-control" type="text" id="sat"></div>
            <div class="notef">Sat attributes needed</div>
          </div>
          <div class="singlepar">
            <div class="formf"><input class="form-control" type="text" id="act"></div>
            <div class="notef">Sat attributes needed</div>
          </div>
          <div class="singlepar">
            <div class="formf"><input class="form-control" type="text" id="gpa"></div>
            <div class="notef">Sat attributes needed</div>
          </div>
          <div class="singlepar">
            <div class="formf"><input class="form-control" type="text" id="coreGpa"></div>
            <div class="notef">Sat attributes needed</div>
          </div> -->

        </div>
      </div>
      <!-- end panel -->
    </div>
    <!-- end col-6 -->
  </div>
  <!-- end row -->
</div>

<script>
  document.getElementById('academicform').addEventListener('submit', function () {
    submit();
  });


  function submit() {
    let res = [];
    let satVal = document.getElementById("sat").value;
    let actVal = document.getElementById("act").value;
    let gpaVal = document.getElementById("gpa").value;
    let coreGpaVal = document.getElementById("coreGpa").value;
    res.push(satVal);
    res.push(actVal);
    res.push(gpaVal);
    res.push(coreGpaVal);
    alert(res);
  }
</script>
<% stylesheet('/../assets/css/common.css') -%>
<% stylesheet('/../assets/css/bench.css') -%>
<% stylesheet('/../assets/css/home.css') -%>
<% script('/../assets/js/app/home.js') -%>
