<% layout('layout_main') -%>
<div id="content" class="content">

  <!-- begin breadcrumb -->
  <ol class="breadcrumb pull-right">
    <li class="breadcrumb-item"><a href="javascript:;">Home</a></li>
    <li class="breadcrumb-item active">Dashboard</li>
  </ol>
  <!-- end breadcrumb -->

  <!-- begin page-header -->
  <h1 class="page-header">
    <%=team %> Benchmark Input Page</h1>
  <!-- end page-header -->

  <!-- begin row -->
  <div class="row">

    <!-- begin col-6 -->
    <div class="col-lg-12">

      <!-- begin panel -->
      <div class="panel panel-inverse" id="basicInfo" data-sortable-id="index-7">
        <div class="panel-heading">
          <h4 class="panel-title">Academic attributes benchmark input</h4>
        </div>
        <div class="panel-body">
          <form id="academicform">
            <div class="form-group row m-b-15">
              <label class="col-form-label col-md-3" for="pos">Position: </label>
              <div class="col-md-9">
                <select class="form-control" id="pos">
                  <% for(let i=0; i<positions.length; i++) { %>
                  <option>
                    <%= positions[i] %>
                  </option>
                  <% } -%>
                </select>
              </div>
            </div>
            <div class="form-group row m-b-15">
              <label class="col-form-label col-md-3" for="sat">SAT attributes needed</label>
              <div class="col-md-5">
                <input class="form-control m-b-5" type="text" placeholder="SAT" id="sat" />
              </div>
              <div class="col-md-4">
                <input class="form-control m-b-5" type="text" placeholder="SAT Factor" id="satF" />
              </div>
            </div>
            <div class="form-group row m-b-15">
              <label class="col-form-label col-md-3" for="act">ACT attributes needed</label>
              <div class="col-md-5">
                <input class="form-control m-b-5" type="text" placeholder="ACT" id="act" />
              </div>
              <div class="col-md-4">
                <input class="form-control m-b-5" type="text" placeholder="ACT Factor" id="actF" />
              </div>
            </div>
            <div class="form-group row m-b-15">
              <label class="col-form-label col-md-3" for="gpa">GPA attributes needed</label>
              <div class="col-md-5">
                <input class="form-control m-b-5" type="text" placeholder="GPA" id="gpa" />
              </div>
              <div class="col-md-4">
                <input class="form-control m-b-5" type="text" placeholder="GPA Factor" id="gpaF" />
              </div>
            </div>
            <div class="form-group row m-b-15">
              <label class="col-form-label col-md-3" for="coreGpa">CoreGPA attributes needed</label>
              <div class="col-md-5">
                <input class="form-control m-b-5" type="text" placeholder="coreGpa" id="coreGpa" />
              </div>
              <div class="col-md-4">
                <input class="form-control m-b-5" type="text" placeholder="coreGpa Factor" id="coreGpaF" />
              </div>
            </div>
            <div class="form-group row m-b-15" style="display: flex;flex-direction: row;align-items: center;">
              <div class="subbtn col-md-5"><input type="submit" class="btn btn-lime" id="submit" value="Submit"></div>
              <div class="col-md-7" style="text-align: right"><a href="/addnewpillar">Add new Pillar</a></div>
            </div>
          </form>
        </div>
      </div>
      <!-- end panel -->

    </div>
    <!-- end col-6 -->

  </div>
  <!-- end row -->

</div>

<script>
  document.getElementById('academicform').addEventListener('submit', function () {
    submit();
  });


  function submit() {
    let res = [];
    let pos = document.getElementById("pos").value;
    let satVal = document.getElementById("sat").value;
    let satFVal = document.getElementById("satF").value;
    let actVal = document.getElementById("act").value;
    let actFVal = document.getElementById("actF").value;
    let gpaVal = document.getElementById("gpa").value;
    let gpaFVal = document.getElementById("gpaF").value;
    let coreGpaVal = document.getElementById("coreGpa").value;
    let coreGpaFVal = document.getElementById("coreGpaF").value;
    res.push(pos);
    res.push(satVal);
    res.push(satFVal);
    res.push(actVal);
    res.push(actFVal);
    res.push(gpaVal);
    res.push(gpaFVal);
    res.push(coreGpaVal);
    res.push(coreGpaFVal);
    alert(res);
  }
</script>
<% stylesheet('/../assets/css/common.css') -%>
<% stylesheet('/../assets/css/bench.css') -%>
<% stylesheet('/../assets/css/home.css') -%>
<% script('/../assets/js/app/home.js') -%>
