<% layout('layout_main') -%>
<div id="content" class="content">
  <!-- begin breadcrumb -->
  <ol class="breadcrumb pull-right">
    <li class="breadcrumb-item"><a href="javascript:;">Home</a></li>
    <li class="breadcrumb-item active">Dashboard</li>
  </ol>
  <!-- end breadcrumb -->
  <!-- begin page-header -->
  <h1 class="page-header">
    <%=teamDisplay %> New Athlete Input Page</h1>
  <!-- end page-header -->
  <!-- begin row -->
  <div class="row">
    <!-- begin col-6 -->
    <div class="col-lg-12">
      <!-- begin panel -->
      <div class="panel panel-inverse" id="basicInfo" data-sortable-id="index-7">
        <div class="panel-heading">
          <h4 class="panel-title">New Athlete info input</h4>
        </div>
        <div class="panel-body">

          <form id="coreform">
            <div class="form-group row m-b-15">
                <label class="col-form-label col-md-3" for="pos">Position: </label>
                <div class="col-md-9">
                  <select class="form-control" id="pos">
                    <% for(let i=0; i<positions.length; i++) { %>
                    <option>
                      <%= positions[i].title %>
                    </option>
                    <% } -%>
                  </select>
                </div>
            </div>
            <button class="accord" type="button">Basic Info</button>
            <div class="pan">
              <div class="form-group row m-b-15">
                  <label class="col-form-label col-md-3" for="fname">First Name</label>
                  <div class="col-md-8">
`                    <input class="form-control m-b-5" type="text" placeholder="e.g. Ryan" id="fname" value="<%= athlete.fname %>"/>
                  </div>
                </div>
                <div class="form-group row m-b-15">
                    <label class="col-form-label col-md-3" for="lname">Last Name</label>
                    <div class="col-md-8">
                      <input class="form-control m-b-5" type="text" placeholder="e.g. O Brian" id="lname" />
                    </div>
              </div>
              <div class="form-group row m-b-15">
                  <label class="col-form-label col-md-3" for="school">School</label>
                  <div class="col-md-8">
                    <input class="form-control m-b-5" type="text" placeholder="e.g. Ninety Six HS" id="school" />
                  </div>
              </div>
              <div class="form-group row m-b-15">
                  <label class="col-form-label col-md-3" for="hometown">Hometown</label>
                  <div class="col-md-8">
                    <input class="form-control m-b-5" type="text" placeholder="e.g. New York" id="hometown" />
                  </div>
              </div>
              <div class="form-group row m-b-15">
                  <label class="col-form-label col-md-3" for="state">State</label>
                  <div class="col-md-8">
                    <input class="form-control m-b-5" type="text" placeholder="e.g. SC" id="state" />
                  </div>
              </div>
              <div class="form-group row m-b-15">
                  <label class="col-form-label col-md-3" for="hsgradyear">Hight School Graduation Year</label>
                  <div class="col-md-8">
                    <input class="form-control m-b-5" type="text" placeholder="e.g. 2012" id="hsgradyear" />
                  </div>
              </div>
              <div class="form-group row m-b-15">
                  <label class="col-form-label col-md-3" for="collegeyear">College Year</label>
                  <div class="col-md-8">
                    <input class="form-control m-b-5" type="text" placeholder="e.g. 2" id="collegeyear" />
                  </div>
              </div>
              <div class="form-group row m-b-15">
                  <label class="col-form-label col-md-3" for="multisportathlete">Multisport Athlete</label>
                  <div class="col-md-8">
                    <input class="form-control m-b-5" type="text" placeholder="e.g. 0" id="multisportathlete" />
                  </div>
              </div>
              <div class="form-group row m-b-15">
                  <label class="col-form-label col-md-3" for="momparent">Mom Parent</label>
                  <div class="col-md-8">
                    <input class="form-control m-b-5" type="number" placeholder="e.g. 1" id="momparent" />
                  </div>
              </div>
              <div class="form-group row m-b-15">
                  <label class="col-form-label col-md-3" for="dadparent">Dad Parent</label>
                  <div class="col-md-8">
                    <input class="form-control m-b-5" type="number" placeholder="e.g. 1" id="dadparent" />
                  </div>
              </div>
              <div class="form-group row m-b-15">
                  <label class="col-form-label col-md-3" for="grandmother">Grandmother Parent</label>
                  <div class="col-md-8">
                    <input class="form-control m-b-5" type="number" placeholder="e.g. 1" id="grandmother" />
                  </div>
              </div>
              <div class="form-group row m-b-15">
                  <label class="col-form-label col-md-3" for="grandfather">Grandfather Parent</label>
                  <div class="col-md-8">
                    <input class="form-control m-b-5" type="number" placeholder="e.g. 1" id="grandfather" />
                  </div>
              </div>
              <div class="form-group row m-b-15">
                  <label class="col-form-label col-md-3" for="twitter">Twitter</label>
                  <div class="col-md-8">
                    <input class="form-control m-b-5" type="text" placeholder="e.g. https://twitter.com/..." id="twitter" />
                  </div>
              </div>
              <div class="form-group row m-b-15">
                  <label class="col-form-label col-md-3" for="instagram">Instagram</label>
                  <div class="col-md-8">
                    <input class="form-control m-b-5" type="text" placeholder="e.g. https://www.instagram.com/..." id="instagram" />
                  </div>
              </div>
              <div class="form-group row m-b-15">
                  <label class="col-form-label col-md-3" for="facebook">Facebook</label>
                  <div class="col-md-8">
                    <input class="form-control m-b-5" type="text" placeholder="e.g. https://www.facebook.com/..." id="facebook" />
                  </div>
              </div>
              <div class="form-group row m-b-15">
                  <label class="col-form-label col-md-3" for="snapchat">Snapchat</label>
                  <div class="col-md-8">
                    <input class="form-control m-b-5" type="text" placeholder="e.g. https://www.snapchat.com/..." id="snapchat" />
                  </div>
              </div>

            </div>

          <button class="accord" type="button">Academic Info</button>
          <div class="pan">
              <div class="form-group row m-b-15">
                <label class="col-form-label col-md-3" for="SAT">SAT</label>
                <div class="col-md-8">
                  <input class="form-control m-b-5" type="number" placeholder="e.g. 1332" id="sat" />
                </div>
              </div>
              <div class="form-group row m-b-15">
                <label class="col-form-label col-md-3" for="act">ACT</label>
                <div class="col-md-8">
                  <input class="form-control m-b-5" type="number" placeholder="e.g. 20" id="act" />
                </div>
              </div>
              <div class="form-group row m-b-15">
                <label class="col-form-label col-md-3" for="gpa">GPA</label>
                <div class="col-md-8">
                  <input class="form-control m-b-5" type="number" placeholder="e.g. 2.8" id="gpa" />
                </div>
              </div>
              <div class="form-group row m-b-15">
                <label class="col-form-label col-md-3" for="coregpa">Core GPA</label>
                <div class="col-md-8">
                  <input class="form-control m-b-5" type="number" placeholder="e.g. 3.23" id="coregpa" />
                </div>
              </div>
          </div>

          <button class="accord" type="button">Core Attributes Info</button>
          <div class="pan">
              <div class="form-group row m-b-15">
                <label class="col-form-label col-md-3" for="competitiveness">Competitiveness</label>
                <div class="col-md-8">
                  <input class="form-control m-b-5" type="number" placeholder="e.g. 123" id="competitiveness" />
                </div>
              </div>
              <div class="form-group row m-b-15">
                  <label class="col-form-label col-md-3" for="mastery">Mastery</label>
                  <div class="col-md-8">
                    <input class="form-control m-b-5" type="number" placeholder="e.g. 87" id="mastery" />
                  </div>
              </div>
              <div class="form-group row m-b-15">
                  <label class="col-form-label col-md-3" for="persistence">Persistence</label>
                  <div class="col-md-8">
                    <input class="form-control m-b-5" type="number" placeholder="e.g. 76" id="persistence" />
                  </div>
              </div>
              <div class="form-group row m-b-15">
                  <label class="col-form-label col-md-3" for="teamorientation">Team Orientation</label>
                  <div class="col-md-8">
                    <input class="form-control m-b-5" type="number" placeholder="e.g. 1" id="teamorientation" />
                  </div>
              </div>
              <div class="form-group row m-b-15">
                  <label class="col-form-label col-md-3" for="workethic">Work Ethic</label>
                  <div class="col-md-8">
                    <input class="form-control m-b-5" type="number" placeholder="e.g. 40" id="workethic" />
                  </div>
              </div>
          </div>

          <button class="accord" type="button">Athletic Info</button>
          <div class="pan">
              <div class="form-group row m-b-15">
                  <label class="col-form-label col-md-3" for="сarries">Carries</label>
                  <div class="col-md-8">
                    <input class="form-control m-b-5" type="number" placeholder="e.g. 4" id="сarries" />
                  </div>
              </div>
              <div class="form-group row m-b-15">
                  <label class="col-form-label col-md-3" for="сompletions">Completions</label>
                  <div class="col-md-8">
                    <input class="form-control m-b-5" type="number" placeholder="e.g. 12" id="сompletions" />
                  </div>
              </div>
              <div class="form-group row m-b-15">
                  <label class="col-form-label col-md-3" for="interceptionsthrown">Interceptions Thrown</label>
                  <div class="col-md-8">
                    <input class="form-control m-b-5" type="number" placeholder="e.g. 33" id="interceptionsthrown" />
                  </div>
              </div>
              <div class="form-group row m-b-15">
                  <label class="col-form-label col-md-3" for="passingyards">Passing Yards</label>
                  <div class="col-md-8">
                    <input class="form-control m-b-5" type="number" placeholder="e.g. 23.2" id="passingyards" />
                  </div>
              </div>
              <div class="form-group row m-b-15">
                  <label class="col-form-label col-md-3" for="recievingyards">Recieving Yards</label>
                  <div class="col-md-8">
                    <input class="form-control m-b-5" type="number" placeholder="e.g. 44" id="recievingyards" />
                  </div>
              </div>
              <div class="form-group row m-b-15">
                  <label class="col-form-label col-md-3" for="receptions">Receptions</label>
                  <div class="col-md-8">
                    <input class="form-control m-b-5" type="number" placeholder="e.g. 6" id="receptions" />
                  </div>
              </div>
              <div class="form-group row m-b-15">
                  <label class="col-form-label col-md-3" for="rushingtouchdowns">Rushing Touchdowns</label>
                  <div class="col-md-8">
                    <input class="form-control m-b-5" type="number" placeholder="e.g. 9" id="rushingtouchdowns" />
                  </div>
              </div>
              <div class="form-group row m-b-15">
                  <label class="col-form-label col-md-3" for="rushingyards">Rushing Yards</label>
                  <div class="col-md-8">
                    <input class="form-control m-b-5" type="number" placeholder="e.g. 12" id="rushingyards" />
                  </div>
              </div>
              <div class="form-group row m-b-15">
                  <label class="col-form-label col-md-3" for="sacks">Sacks</label>
                  <div class="col-md-8">
                    <input class="form-control m-b-5" type="number" placeholder="e.g. 3" id="sacks" />
                  </div>
              </div>
              <div class="form-group row m-b-15">
                  <label class="col-form-label col-md-3" for="solotackles">Solo Tackles</label>
                  <div class="col-md-8">
                    <input class="form-control m-b-5" type="number" placeholder="e.g. 53" id="solotackles" />
                  </div>
              </div>
              <div class="form-group row m-b-15">
                  <label class="col-form-label col-md-3" for="tacklesforloss">Tackles For Loss</label>
                  <div class="col-md-8">
                    <input class="form-control m-b-5" type="number" placeholder="e.g. 32" id="tacklesforloss" />
                  </div>
              </div>
              <div class="form-group row m-b-15">
                  <label class="col-form-label col-md-3" for="totaltackles">Total Tackles</label>
                  <div class="col-md-8">
                    <input class="form-control m-b-5" type="number" placeholder="e.g. 43" id="totaltackles" />
                  </div>
              </div>
              <div class="form-group row m-b-15">
                  <label class="col-form-label col-md-3" for="touchdownsthrown">Touchdowns Thrown</label>
                  <div class="col-md-8">
                    <input class="form-control m-b-5" type="number" placeholder="e.g. 66" id="touchdownsthrown" />
                  </div>
              </div>
              <div class="form-group row m-b-15">
                  <label class="col-form-label col-md-3" for="forty">Forty</label>
                  <div class="col-md-8">
                    <input class="form-control m-b-5" type="number" placeholder="e.g. 31.8" id="forty" />
                  </div>
              </div>
              <div class="form-group row m-b-15">
                  <label class="col-form-label col-md-3" for="gamesplayed">Games Played</label>
                  <div class="col-md-8">
                    <input class="form-control m-b-5" type="number" placeholder="e.g. 72" id="gamesplayed" />
                  </div>
              </div>
              <div class="form-group row m-b-15">
                  <label class="col-form-label col-md-3" for="gamesstarted">Games Started</label>
                  <div class="col-md-8">
                    <input class="form-control m-b-5" type="number" placeholder="e.g. 72" id="gamesstarted" />
                  </div>
              </div>
              <div class="form-group row m-b-15">
                  <label class="col-form-label col-md-3" for="height">Height</label>
                  <div class="col-md-8">
                    <input class="form-control m-b-5" type="number" placeholder="e.g. 72.1" id="height" />
                  </div>
              </div>
              <div class="form-group row m-b-15">
                  <label class="col-form-label col-md-3" for="vertical">Vertical</label>
                  <div class="col-md-8">
                    <input class="form-control m-b-5" type="number" placeholder="e.g. 14" id="vertical" />
                  </div>
              </div>
              <div class="form-group row m-b-15">
                  <label class="col-form-label col-md-3" for="weight">Weight</label>
                  <div class="col-md-8">
                    <input class="form-control m-b-5" type="number" placeholder="e.g. 292" id="weight" />
                  </div>
              </div>
          </div>

          <button class="accord" type="button">Emotional Info</button>
          <div class="pan">
              <div class="form-group row m-b-15">
                  <label class="col-form-label col-md-3" for="accountability">Accountability</label>
                  <div class="col-md-8">
                    <input class="form-control m-b-5" type="number" placeholder="e.g. 2" id="accountability" />
                  </div>
              </div>
              <div class="form-group row m-b-15">
                  <label class="col-form-label col-md-3" for="behavior">Behavior</label>
                  <div class="col-md-8">
                    <input class="form-control m-b-5" type="number" placeholder="e.g. 10" id="behavior" />
                  </div>
              </div>
              <div class="form-group row m-b-15">
                  <label class="col-form-label col-md-3" for="independence">Independence</label>
                  <div class="col-md-8">
                    <input class="form-control m-b-5" type="number" placeholder="e.g. 40" id="independence" />
                  </div>
              </div>
              <div class="form-group row m-b-15">
                  <label class="col-form-label col-md-3" for="reflection">Reflection</label>
                  <div class="col-md-8">
                    <input class="form-control m-b-5" type="number" placeholder="e.g. 30" id="reflection" />
                  </div>
              </div>
              <div class="form-group row m-b-15">
                  <label class="col-form-label col-md-3" for="relationships">Relationships</label>
                  <div class="col-md-8">
                    <input class="form-control m-b-5" type="number" placeholder="e.g. 20" id="relationships" />
                  </div>
              </div>
              <div class="form-group row m-b-15">
                  <label class="col-form-label col-md-3" for="responsibility">Responsibility</label>
                  <div class="col-md-8">
                    <input class="form-control m-b-5" type="number" placeholder="e.g. 100" id="responsibility" />
                  </div>
              </div>
              <div class="form-group row m-b-15">
                  <label class="col-form-label col-md-3" for="teamwork">TeamWork</label>
                  <div class="col-md-8">
                    <input class="form-control m-b-5" type="number" placeholder="e.g. 1" id="teamwork" />
                  </div>
              </div>
          </div>

            <button class="accord" type="button">Social Profile Info</button>
            <div class="pan">
              <div class="form-group row m-b-15">
                <label class="col-form-label col-md-3" for="facebooksentiment">Facebook Sentiment</label>
                <div class="col-md-8">
                  <input class="form-control m-b-5" type="number" placeholder="e.g. 30" id="facebooksentiment" />
                </div>
              </div>
              <div class="form-group row m-b-15">
                <label class="col-form-label col-md-3" for="instagramfollowers">Instagram Followers</label>
                <div class="col-md-8">
                  <input class="form-control m-b-5" type="number" placeholder="e.g. 12" id="instagramfollowers" />
                </div>
              </div>
              <div class="form-group row m-b-15">
                <label class="col-form-label col-md-3" for="newsmediacoveragementions">News Media Coverage mentions</label>
                <div class="col-md-8">
                  <input class="form-control m-b-5" type="number" placeholder="e.g. 42" id="newsmediacoveragementions" />
                </div>
              </div>
              <div class="form-group row m-b-15">
                <label class="col-form-label col-md-3" for="newsmediacoverageregional">News Media Coverage Regional</label>
                <div class="col-md-8">
                  <input class="form-control m-b-5" type="number" placeholder="e.g. 1" id="newsmediacoverageregional" />
                </div>
              </div>
              <div class="form-group row m-b-15">
                <label class="col-form-label col-md-3" for="newsmediacoveragesentiment">News Media Coverage Sentiment</label>
                <div class="col-md-8">
                  <input class="form-control m-b-5" type="number" placeholder="e.g. 22" id="newsmediacoveragesentiment" />
                </div>
              </div>
              <div class="form-group row m-b-15">
                <label class="col-form-label col-md-3" for="newsmediacoveragenational">News Media coverage National</label>
                <div class="col-md-8">
                  <input class="form-control m-b-5" type="number" placeholder="e.g. 31" id="newsmediacoveragenational" />
                </div>
              </div>
              <div class="form-group row m-b-15">
                <label class="col-form-label col-md-3" for="pressreleasesentiment">Press Release Sentiment</label>
                <div class="col-md-8">
                  <input class="form-control m-b-5" type="number" placeholder="e.g. 1" id="pressreleasesentiment" />
                </div>
              </div>
              <div class="form-group row m-b-15">
                <label class="col-form-label col-md-3" for="pressreleasesentimentcounter">Press Release Sentiment Counter</label>
                <div class="col-md-8">
                  <input class="form-control m-b-5" type="number" placeholder="e.g. 2" id="pressreleasesentimentcounter" />
                </div>
              </div>
              <div class="form-group row m-b-15">
                <label class="col-form-label col-md-3" for="instagramsentiment">Instagram Sentiment</label>
                <div class="col-md-8">
                  <input class="form-control m-b-5" type="number" placeholder="e.g. 39" id="instagramsentiment" />
                </div>
              </div>
              <div class="form-group row m-b-15">
                <label class="col-form-label col-md-3" for="twittersentiment">Twitter Sentiment</label>
                <div class="col-md-8">
                  <input class="form-control m-b-5" type="number" placeholder="e.g. 81" id="twittersentiment" />
                </div>
              </div>
              <div class="form-group row m-b-15">
                <label class="col-form-label col-md-3" for="twitterfollowers">Twitter Followers</label>
                <div class="col-md-8">
                  <input class="form-control m-b-5" type="number" placeholder="e.g. 0" id="twitterfollowers" />
                </div>
              </div>
            </div>
            <div class="form-group row m-b-15" style="display: flex;flex-direction: row;align-items: center;">
              <div class="subbtn col-md-5"><input type="button" class="btn btn-lime" id="newathleteinfo_submit" value="Submit"></div>
            </div>
          </form>
        </div>
      </div>
      <!-- end panel -->
    </div>
    <!-- end col-6 -->
  </div>
  <!-- end row -->
</div>

<script>
  var accord = document.getElementsByClassName("accord");
  var i;
  for (i = 0; i < accord.length; i++) {
    accord[i].addEventListener("click", function() {
      this.classList.toggle("active");
      let panel = this.nextElementSibling;
      if (panel.style.display === "block") {
        panel.style.display = "none";
      } else {
        panel.style.display = "block";
      }
    });
  }
  document.getElementById('newathleteinfo_submit').addEventListener('click', function () {
    submit();
  });


  const positions = [
    {title: 'Quarterback', value: 'QB'},
    {title: 'Running Back', value: 'RB'},
    {title: 'Wide Receiver', value: 'WR'},
    {title: 'Offensive Line', value: 'OL'},
    {title: 'Defensive Line', value: 'DL'},
    {title: 'Tight End', value: 'TE'},
    {title: 'Linebacker', value: 'LB'},
    {title: 'Corner Back', value: 'CB'},
    {title: 'Kicker', value: 'K'},
    {title: 'Defensive End', value: 'DE'},
    {title: 'Defensive Tackle', value: 'DT'},
    {title: 'Offensive Guard', value: 'OG'},
    {title: 'Offensive Tackler', value: 'OT'},
    {title: 'Defensive Back', value: 'DB'},
    {title: 'Punter', value: 'P'},
    {title: 'Safety', value: 'S'},
    {title: 'Long Snapper', value: 'LS'},
  ]

  function submit() {
    let position = document.getElementById("pos").value;
    let fnameVal = document.getElementById("fname").value;
    let lnameVal = document.getElementById("lname").value;
    let schoolVal = document.getElementById("school").value;
    let hometownVal = document.getElementById("hometown").value;
    let stateVal = document.getElementById("state").value;
    let hsgradyearVal = document.getElementById("hsgradyear").value;
    let collegeyearVal = document.getElementById("collegeyear").value;
    let multisportathleteVal = document.getElementById("multisportathlete").value;
    let momparentVal = document.getElementById("momparent").value;
    let dadparentVal = document.getElementById("dadparent").value;
    let grandmotherVal = document.getElementById("grandmother").value;
    let grandfatherVal = document.getElementById("grandfather").value;
    let twitterVal = document.getElementById("twitter").value;
    let instagramVal = document.getElementById("instagram").value;
    let facebookVal = document.getElementById("facebook").value;
    let snapchatVal = document.getElementById("snapchat").value;
    let satVal = document.getElementById("sat").value;
    let actVal = document.getElementById("act").value;
    let gpaVal = document.getElementById("gpa").value;
    let coregpaVal = document.getElementById("coregpa").value;
    let competitivenessVal = document.getElementById("competitiveness").value;
    let masteryVal = document.getElementById("mastery").value;
    let persistenceVal = document.getElementById("persistence").value;
    let teamorientationVal = document.getElementById("teamorientation").value;
    let workethicVal = document.getElementById("workethic").value;
    let сarriesVal = document.getElementById("сarries").value;
    let completionsVal = document.getElementById("сompletions").value;
    let interceptionsthrownVal = document.getElementById("interceptionsthrown").value;
    let passingyardsVal = document.getElementById("passingyards").value;
    let recievingyardsVal = document.getElementById("recievingyards").value;
    let receptionsVal = document.getElementById("receptions").value;
    let rushingtouchdownsVal = document.getElementById("rushingtouchdowns").value;
    let sacksVal = document.getElementById("sacks").value;
    let solotacklesVal = document.getElementById("solotackles").value;
    let tacklesforlossVal = document.getElementById("tacklesforloss").value;
    let totaltacklesVal = document.getElementById("totaltackles").value;
    let touchdownsthrownVal = document.getElementById("touchdownsthrown").value;
    let fortyVal = document.getElementById("forty").value;
    let gamesplayedVal = document.getElementById("gamesplayed").value;
    let gamesstartedVal = document.getElementById("gamesstarted").value;
    let heightVal = document.getElementById("height").value;
    let verticalVal = document.getElementById("vertical").value;
    let weightVal = document.getElementById("weight").value;
    let accountabilityVal = document.getElementById("accountability").value;
    let behaviorVal = document.getElementById("behavior").value;
    let independenceVal = document.getElementById("independence").value;
    let reflectionVal = document.getElementById("reflection").value;
    let relationshipsVal = document.getElementById("relationships").value;
    let responsibilityVal = document.getElementById("responsibility").value;
    let teamworkVal = document.getElementById("teamwork").value;
    let facebooksentimentVal = document.getElementById("facebooksentiment").value;
    let instagramfollowersVal = document.getElementById("instagramfollowers").value;
    let newsmediacoveragementionsVal = document.getElementById("newsmediacoveragementions").value;
    let newsmediacoverageregionalVal = document.getElementById("newsmediacoverageregional").value;
    let newsmediacoveragesentimentVal = document.getElementById("newsmediacoveragesentiment").value;
    let newsmediacoveragenationalVal = document.getElementById("newsmediacoveragenational").value;
    let pressreleasesentimentVal = document.getElementById("pressreleasesentiment").value;
    let pressreleasesentimentcounterVal = document.getElementById("pressreleasesentimentcounter").value;
    let instagramsentimentVal = document.getElementById("instagramsentiment").value;
    let twittersentimentVal = document.getElementById("twittersentiment").value;
    let twitterfollowersVal = document.getElementById("twitterfollowers").value;


    const athleteattr = {
      position: position,
      fname: fnameVal,
      lname: lnameVal,
      school: schoolVal,
      hometown: hometownVal,
      state: stateVal,
      highschoolGraduationYea: parseFloat(hsgradyearVal),
      collegeYear: parseFloat(collegeyearVal),
      multisportAthlete: parseFloat(multisportathleteVal),
      momParent: parseFloat(momparentVal),
      dadParent: parseFloat(dadparentVal),
      grandmotherParent: parseFloat(grandmotherVal),
      grandfatherParent: parseFloat(grandfatherVal),
      twitter: parseFloat(twitterVal),
      instagram: parseFloat(instagramVal),
      facebook: parseFloat(facebookVal),
      snapchat: parseFloat(snapchatVal),
      sat: parseFloat(satVal),
      act: parseFloat(actVal),
      gpa: parseFloat(gpaVal),
      coreGpa: parseFloat(coregpaVal),
      coreAttributesCompetitiveness: parseFloat(competitivenessVal),
      coreAttributesMastery: parseFloat(masteryVal),
      coreAttributesPersistence: parseFloat(persistenceVal),
      coreAttributesTeamOrientation: parseFloat(teamorientationVal),
      coreAttributesWorkEthic: parseFloat(workethicVal),
      сarries: parseFloat(сarriesVal),
      completions: parseFloat(completionsVal),
      interceptionsThrown: parseFloat(interceptionsthrownVal),
      passingYards: parseFloat(passingyardsVal),
      recievingYards: parseFloat(recievingyardsVal),
      receptions: parseFloat(receptionsVal),
      rushingTouchdowns: parseFloat(rushingtouchdownsVal),
      sacks: parseFloat(sacksVal),
      soloTackles: parseFloat(solotacklesVal),
      tacklesForLoss: parseFloat(tacklesforlossVal),
      totalTackles: parseFloat(totaltacklesVal),
      touchdownsThrown: parseFloat(touchdownsthrownVal),
      forty: parseFloat(fortyVal),
      gamesPlayed: parseFloat(gamesplayedVal),
      gamesStarted: parseFloat(gamesstartedVal),
      height: parseFloat(heightVal),
      vertical: parseFloat(verticalVal),
      weight: parseFloat(weightVal),
      emotionalIntelAccountability: parseFloat(accountabilityVal),
      emotionalIntelBehavior: parseFloat(behaviorVal),
      emotionalIntelIndependence: parseFloat(independenceVal),
      emotionalIntelReflection: parseFloat(reflectionVal),
      emotionalIntelRelationships: parseFloat(relationshipsVal),
      emotionalIntelResponsibility: parseFloat(responsibilityVal),
      emotionalIntelTeamwork: parseFloat(teamworkVal),
      facebookSentiment: parseFloat(facebooksentimentVal),
      instagramFollowers: parseFloat(instagramfollowersVal),
      newsmediaCoverageMentions: parseFloat(newsmediacoveragementionsVal),
      newsmediaCoverageRegional: parseFloat(newsmediacoverageregionalVal),
      newsmediaCoverageSentiment: parseFloat(newsmediacoveragesentimentVal),
      newsmediaCoverageNational: parseFloat(newsmediacoveragenationalVal),
      pressReleaseSentiment: parseFloat(pressreleasesentimentVal),
      pressReleaseSentimentCounter: parseFloat(pressreleasesentimentcounterVal),
      instagramSentiment: parseFloat(instagramsentimentVal),
      twitterSentiment: parseFloat(twittersentimentVal),
      twitterFollowers: parseFloat(twitterfollowersVal)
    };

    savePlayerInfo(athleteattr)
  }

</script>

<!--<% stylesheet('/../assets/css/common.css') -%>-->
<!--<% stylesheet('/../assets/css/barchart.css') -%>-->
<!--<% stylesheet('/../assets/css/newathlete.css') -%>-->
<!--<% stylesheet('/../assets/css/login.css') -%>-->
<!--<% stylesheet('/../assets/css/home.css') -%>-->
<!--<% stylesheet('/../assets/css/table.css') -%>-->
<!--<% script('/../assets/plugins/ejs/ejs.js') -%>-->
<!--<% script('/../assets/js/app/utils.js') -%>-->
<!--<% script('/../assets/js/app/api-mapper.js') -%>-->
<!--<% script('/../assets/js/app/api.js') -%>-->
<!--<% script('/../assets/js/app/domain.js') -%>-->
<!--<% script('/../assets/js/app/components/overall-score-section.js') -%>-->
<!--<% script('/../assets/js/app/components/core-attributes-section.js') -%>-->
<!--<% script('/../assets/js/app/components/academic-attributes-section.js') -%>-->
<!--<% script('/../assets/js/app/components/social-profile-attributes-section.js') -%>-->
<!--<% script('/../assets/js/app/components/emotional-intel-attributes-section.js') -%>-->
<!--<% script('/../assets/js/app/components/athletic-attributes-section.js') -%>-->
<!--<% script('/../assets/js/app/draw/draw-table.js') -%>-->
<!--<% script('/../assets/js/app/draw/draw-overall.js') -%>-->
<!--<% script('/../assets/js/app/draw/draw-bar-chart.js') -%>-->
<!--<% script('/../assets/js/app/draw/draw-top-culturals.js') -%>-->
<!--<% script('/../assets/js/app/draw/draw-pie-chart.js') -%>-->
<!--<% script('/../assets/js/app/home.js') -%>-->
