<% layout('layout_main') -%>
<div id="content" class="content">
  <!-- begin breadcrumb -->
  <ol class="breadcrumb pull-right">
    <li class="breadcrumb-item"><a href="javascript:;">Home</a></li>
    <li class="breadcrumb-item active">Dashboard</li>
  </ol>
  <!-- end breadcrumb -->
  <!-- begin page-header -->
  <h1 class="page-header">
    <%=team %> Benchmark Input Page</h1>
  <!-- end page-header -->
  <!-- begin row -->
  <div class="row">
    <!-- begin col-6 -->
    <div class="col-lg-12">
      <!-- begin panel -->
      <div class="panel panel-inverse" id="basicInfo" data-sortable-id="index-7">
        <div class="panel-heading">
          <h4 class="panel-title">Athletic attributes benchmark input</h4>
        </div>
        <div class="panel-body">
          <form id="athleticform">
            <div class="form-group row m-b-15">
              <label class="col-form-label col-md-3" for="pos">Position: </label>
              <div class="col-md-9">
                <select class="form-control" id="pos"><% for(let i=0; i<positions.length; i++) { %><option><%= positions[i] %></option><% } -%></select>
              </div>
            </div>
            <div class="form-group row m-b-15">
              <label class="col-form-label col-md-3">Carries Benchmark</label>
              <div class="col-md-5">
                <input class="form-control m-b-5" type="text" placeholder="Carries" id="carries" />
              </div>
              <div class="col-md-4">
                  <input class="form-control m-b-5" type="text" placeholder="Carries Factor" id="carriesF" />
              </div>
            </div>
            <div class="form-group row m-b-15">
              <label class="col-form-label col-md-3" for="completions">Completions Benchmark</label>
              <div class="col-md-5">
                <input class="form-control m-b-5" type="text" placeholder="Completions" id="completions" />
              </div>
              <div class="col-md-4">
                  <input class="form-control m-b-5" type="text" placeholder="Completions Factor" id="completionsF" />
              </div>
            </div>
            <div class="form-group row m-b-15">
              <label class="col-form-label col-md-3" for="interceptionsThrown">Interceptions Thrown Benchmark</label>
              <div class="col-md-5">
                <input class="form-control m-b-5" type="text" placeholder="Interceptions Thrown" id="interceptionsThrown" />
              </div>
              <div class="col-md-4">
                  <input class="form-control m-b-5" type="text" placeholder="Interceptions Thrown Factor" id="interceptionsThrownF" />
              </div>
            </div>
            <div class="form-group row m-b-15">
              <label class="col-form-label col-md-3" for="passingYards">Passing Yards Benchmark</label>
              <div class="col-md-5">
                <input class="form-control m-b-5" type="text" placeholder="Passing Yards" id="passingYards" />
              </div>
              <div class="col-md-4">
                <input class="form-control m-b-5" type="text" placeholder="Passing Yards Factor" id="passingYardsF" />
              </div>
              </div>
            <div class="form-group row m-b-15">
              <label class="col-form-label col-md-3" for="receivingYards">Recieving Yards Benchmark</label>
              <div class="col-md-5">
                <input class="form-control m-b-5" type="text" placeholder="Recieving Yards" id="receivingYards" />
              </div>
              <div class="col-md-4">
                  <input class="form-control m-b-5" type="text" placeholder="Recieving Yards Factor" id="recievingYardsF" />
              </div>
            </div>
            <div class="form-group row m-b-15">
              <label class="col-form-label col-md-3" for="receptions">Receptions Benchmark</label>
              <div class="col-md-5">
                <input class="form-control m-b-5" type="text" placeholder="Receptions" id="receptions" />
              </div>
              <div class="col-md-4">
                  <input class="form-control m-b-5" type="text" placeholder="Receptions Factor" id="receptionsF" />
              </div>
            </div>
            <div class="form-group row m-b-15">
              <label class="col-form-label col-md-3" for="rushingYards">Rushing Yards Benchmark</label>
              <div class="col-md-5">
                <input class="form-control m-b-5" type="text" placeholder="Rushing Yards" id="rushingYards" />
              </div>
              <div class="col-md-4">
                  <input class="form-control m-b-5" type="text" placeholder="Rushing Yards Factor" id="rushingYardsF" />
              </div>
            </div>
            <div class="form-group row m-b-15">
              <label class="col-form-label col-md-3" for="sacks">Sacks Benchmark</label>
              <div class="col-md-5">
                <input class="form-control m-b-5" type="text" placeholder="Sacks" id="sacks" />
              </div>
              <div class="col-md-4">
                  <input class="form-control m-b-5" type="text" placeholder="Sacks Factor" id="sacksF" />
              </div>
            </div>
            <div class="form-group row m-b-15">
              <label class="col-form-label col-md-3" for="rushingTouchdowns">Rushing Touchdowns Benchmark</label>
              <div class="col-md-5">
                <input class="form-control m-b-5" type="text" placeholder="Rushing Touchdowns" id="rushingTouchdowns" />
              </div>
              <div class="col-md-4">
                  <input class="form-control m-b-5" type="text" placeholder="Rushing Touchdowns Factor" id="rushingTouchdownsF" />
              </div>
            </div>
            <div class="form-group row m-b-15">
              <label class="col-form-label col-md-3" for="soloTackles">Solo Tackle Benchmark</label>
              <div class="col-md-5">
                <input class="form-control m-b-5" type="text" placeholder="Solo Tackle" id="soloTackles" />
              </div>
              <div class="col-md-4">
                  <input class="form-control m-b-5" type="text" placeholder="Solo Tackle Factor" id="soloTacklesF" />
              </div>
            </div>
            <div class="form-group row m-b-15">
              <label class="col-form-label col-md-3" for="tacklesForLoss">Tackles For Loss Benchmark</label>
              <div class="col-md-5">
                <input class="form-control m-b-5" type="text" placeholder="Tackles For Loss" id="tacklesForLoss" />
              </div>
              <div class="col-md-4">
                  <input class="form-control m-b-5" type="text" placeholder="Tackles For Loss Factor" id="tacklesForLossF" />
              </div>
            </div>
            <div class="form-group row m-b-15">
              <label class="col-form-label col-md-3" for="totalTackles">Total Tackles Benchmark</label>
              <div class="col-md-5">
                <input class="form-control m-b-5" type="text" placeholder="Total Tackles" id="totalTackles" />
              </div>
              <div class="col-md-4">
                  <input class="form-control m-b-5" type="text" placeholder="Total Tackles Factor" id="totalTacklesF" />
              </div>
            </div>
            <div class="form-group row m-b-15">
              <label class="col-form-label col-md-3" for="touchdownsThrown">Touchfowns Thrown Benchmark</label>
              <div class="col-md-5">
                <input class="form-control m-b-5" type="text" placeholder="Touchfowns Thrown" id="touchdownsThrown" />
              </div>
              <div class="col-md-4">
                  <input class="form-control m-b-5" type="text" placeholder="Touchfowns Thrown Factor" id="touchdownsThrownF" />
              </div>
            </div>
            <div class="form-group row m-b-15">
              <label class="col-form-label col-md-3" for="forty">Forty Benchmark</label>
              <div class="col-md-5">
                <input class="form-control m-b-5" type="text" placeholder="Forty" id="forty" />
              </div>
              <div class="col-md-4">
                  <input class="form-control m-b-5" type="text" placeholder="Forty Factor" id="fortyF" />
              </div>
            </div>
            <div class="form-group row m-b-15">
              <label class="col-form-label col-md-3" for="gamesPlayed">Games Played Benchmark</label>
              <div class="col-md-5">
                <input class="form-control m-b-5" type="text" placeholder="Games Played" id="gamesPlayed" />
              </div>
              <div class="col-md-4">
                  <input class="form-control m-b-5" type="text" placeholder="Games Played Factor" id="gamesPlayedF" />
              </div>
            </div>
            <div class="form-group row m-b-15">
              <label class="col-form-label col-md-3" for="gamesStarted">Games Started Benchmark</label>
              <div class="col-md-5">
                <input class="form-control m-b-5" type="text" placeholder="Games Started" id="gamesStarted" />
              </div>
              <div class="col-md-4">
                  <input class="form-control m-b-5" type="text" placeholder="Games Started Factor" id="gamesStartedF" />
              </div>
            </div>
            <div class="form-group row m-b-15">
              <label class="col-form-label col-md-3" for="height">Height Benchmark</label>
              <div class="col-md-5">
                <input class="form-control m-b-5" type="text" placeholder="Height" id="height" />
              </div>
              <div class="col-md-4">
                  <input class="form-control m-b-5" type="text" placeholder="Height Factor" id="heightF" />
              </div>
            </div>
            <div class="form-group row m-b-15">
              <label class="col-form-label col-md-3" for="vertical">Vertical Benchmark</label>
              <div class="col-md-5">
                <input class="form-control m-b-5" type="text" placeholder="Vertical" id="vertical" />
              </div>
              <div class="col-md-4">
                  <input class="form-control m-b-5" type="text" placeholder="Vertical Factor" id="verticalF" />
              </div>
            </div>
            <div class="form-group row m-b-15">
              <label class="col-form-label col-md-3" for="weight">Weight Benchmark</label>
              <div class="col-md-5">
              <input class="form-control m-b-5" type="text" placeholder="Weight" id="weight" />
              </div>
              <div class="col-md-4">
                <input class="form-control m-b-5" type="text" placeholder="Weight Factor" id="weightF" />
              </div>
            </div>
            <div class="subbtn"><input type="submit" class="btn btn-lime" id="submit" value="Submit"></div>
          </form>
          <!-- <div class="singlepar">
            <div class="formf"><input class="form-control" type="text" id="sat"></div>
            <div class="notef">Sat attributes needed</div>
          </div>
          <div class="singlepar">
            <div class="formf"><input class="form-control" type="text" id="act"></div>
            <div class="notef">Sat attributes needed</div>
          </div>
          <div class="singlepar">
            <div class="formf"><input class="form-control" type="text" id="gpa"></div>
            <div class="notef">Sat attributes needed</div>
          </div>
          <div class="singlepar">
            <div class="formf"><input class="form-control" type="text" id="coreGpa"></div>
            <div class="notef">Sat attributes needed</div>
          </div> -->

        </div>
      </div>
      <!-- end panel -->
    </div>
    <!-- end col-6 -->
  </div>
  <!-- end row -->
</div>

<script>
  document.getElementById('athleticform').addEventListener('submit', function () {
    submit();
  });


  function submit() {
    let res = [];
    let pos = document.getElementById("pos").value;
    let carriesVal = document.getElementById("carries").value;
    let carriesFVal = document.getElementById("carriesF").value;
    let completionsVal = document.getElementById("completions").value;
    let completionsFVal = document.getElementById("completionsF").value;
    let interceptionsThrownVal = document.getElementById("interceptionsThrown").value;
    let interceptionsThrownFVal = document.getElementById("interceptionsThrownF").value;
    let passingYardsVal = document.getElementById("passingYards").value;
    let passingYardsFVal = document.getElementById("passingYardsF").value;
    let recievingYardsVal = document.getElementById("receivingYards").value;
    let recievingYardsFVal = document.getElementById("recievingYardsF").value;
    let receptionsVal = document.getElementById("receptions").value;
    let receptionsFVal = document.getElementById("receptionsF").value;
    let rushingTouchdownsVal = document.getElementById("rushingTouchdowns").value;
    let rushingTouchdownsFVal = document.getElementById("rushingTouchdownsF").value;
    let rushingYardsVal = document.getElementById("rushingYards").value;
    let rushingYardsFVal = document.getElementById("rushingYardsF").value;
    let sacksVal = document.getElementById("sacks").value;
    let sacksFVal = document.getElementById("sacksF").value;
    let soloTackleVal = document.getElementById("soloTackles").value;
    let soloTackleFVal = document.getElementById("soloTacklesF").value;
    let tacklesForLossVal = document.getElementById("tacklesForLoss").value;
    let tacklesForLossFVal = document.getElementById("tacklesForLossF").value;
    let totalTacklesVal = document.getElementById("totalTackles").value;
    let totalTacklesFVal = document.getElementById("totalTacklesF").value;
    let touchdownsThrownVal = document.getElementById("touchdownsThrown").value;
    let touchdownsThrownFVal = document.getElementById("touchdownsThrownF").value;
    let fortyVal = document.getElementById("forty").value;
    let fortyFVal = document.getElementById("fortyF").value;
    let gamesPlayedVal = document.getElementById("gamesPlayed").value;
    let gamesPlayedFVal = document.getElementById("gamesPlayedF").value;
    let gamesStartedVal = document.getElementById("gamesStarted").value;
    let gamesStartedFVal = document.getElementById("gamesStartedF").value;
    let heightVal = document.getElementById("height").value;
    let heightFVal = document.getElementById("heightF").value;
    let verticalVal = document.getElementById("vertical").value;
    let verticalFVal = document.getElementById("verticalF").value;
    let weightVal = document.getElementById("weight").value;
    let weightFVal = document.getElementById("weightF").value;
    res.push(pos);
    res.push(completionsVal);
    res.push(completionsFVal);
    res.push(interceptionsThrownVal);
    res.push(interceptionsThrownFVal);
    res.push(passingYardsVal);
    res.push(passingYardsFVal);
    res.push(recievingYardsVal);
    res.push(recievingYardsFVal);
    res.push(receptionsVal);
    res.push(receptionsFVal);
    res.push(rushingTouchdownsVal);
    res.push(rushingTouchdownsFVal);
    res.push(rushingYardsVal);
    res.push(rushingYardsFVal);
    res.push(sacksVal);
    res.push(sacksFVal);
    res.push(soloTackleVal);
    res.push(soloTackleFVal);
    res.push(tacklesForLossVal);
    res.push(tacklesForLossFVal);
    res.push(totalTacklesVal);
    res.push(totalTacklesFVal);
    res.push(touchdownsThrownVal);
    res.push(touchdownsThrownFVal);
    res.push(fortyVal);
    res.push(fortyFVal);
    res.push(gamesPlayedVal);
    res.push(gamesPlayedFVal);
    res.push(gamesStartedVal);
    res.push(gamesStartedFVal);
    res.push(heightVal);
    res.push(heightFVal);
    res.push(verticalVal);
    res.push(verticalFVal);
    res.push(weightVal);
    res.push(weightFVal);
    alert(res);
  }
</script>
<% stylesheet('/../assets/css/common.css') -%>
<% stylesheet('/../assets/css/bench.css') -%>
<% stylesheet('/../assets/css/home.css') -%>
<% script('/../assets/js/app/home.js') -%>
