<% layout('layout_main') -%>
<div id="content" class="content">

  <!-- begin breadcrumb -->
  <ol class="breadcrumb pull-right">
    <li class="breadcrumb-item"><a href="javascript:;">Home</a></li>
    <li class="breadcrumb-item active">Dashboard</li>
  </ol>
  <!-- end breadcrumb -->

  <!-- begin page-header -->
  <h1 class="page-header">
    <%=team %> Benchmark Input Page</h1>
  <!-- end page-header -->

  <!-- begin row -->
  <div class="row">

    <!-- begin col-6 -->
    <div class="col-lg-12">

      <!-- begin panel -->
      <div class="panel panel-inverse" id="basicInfo" data-sortable-id="index-7">
        <div class="panel-heading">
          <h4 class="panel-title">Athletic attributes benchmark input</h4>
        </div>
        <div class="panel-body">
          <form id="athleticform">
            <div class="form-group row m-b-15">
              <label class="col-form-label col-md-3" for="pos">Position: </label>
              <div class="col-md-9">
                <select class="form-control" id="pos">
                  <% for(let i=0; i<positions.length; i++) { %>
                  <option>
                    <%= positions[i].title %>
                  </option>
                  <% } -%>
                </select>
              </div>
            </div>
            <div class="form-group row m-b-15">
              <label class="col-form-label col-md-3">Carries Benchmark</label>
              <div class="col-md-5">
                <input class="form-control m-b-5" type="text" placeholder="Carries" id="carries" />
              </div>
              <div class="col-md-4">
                <input class="form-control m-b-5" type="text" placeholder="Carries Factor" id="carriesF" />
              </div>
            </div>
            <div class="form-group row m-b-15">
              <label class="col-form-label col-md-3" for="completions">Completions Benchmark</label>
              <div class="col-md-5">
                <input class="form-control m-b-5" type="text" placeholder="Completions" id="completions" />
              </div>
              <div class="col-md-4">
                <input class="form-control m-b-5" type="text" placeholder="Completions Factor" id="completionsF" />
              </div>
            </div>
            <div class="form-group row m-b-15">
              <label class="col-form-label col-md-3" for="interceptionsThrown">Interceptions Thrown Benchmark</label>
              <div class="col-md-5">
                <input class="form-control m-b-5" type="text" placeholder="Interceptions Thrown" id="interceptionsThrown" />
              </div>
              <div class="col-md-4">
                <input class="form-control m-b-5" type="text" placeholder="Interceptions Thrown Factor" id="interceptionsThrownF" />
              </div>
            </div>
            <div class="form-group row m-b-15">
              <label class="col-form-label col-md-3" for="passingYards">Passing Yards Benchmark</label>
              <div class="col-md-5">
                <input class="form-control m-b-5" type="text" placeholder="Passing Yards" id="passingYards" />
              </div>
              <div class="col-md-4">
                <input class="form-control m-b-5" type="text" placeholder="Passing Yards Factor" id="passingYardsF" />
              </div>
            </div>
            <div class="form-group row m-b-15">
              <label class="col-form-label col-md-3" for="receivingYards">Recieving Yards Benchmark</label>
              <div class="col-md-5">
                <input class="form-control m-b-5" type="text" placeholder="Recieving Yards" id="receivingYards" />
              </div>
              <div class="col-md-4">
                <input class="form-control m-b-5" type="text" placeholder="Recieving Yards Factor" id="recievingYardsF" />
              </div>
            </div>
            <div class="form-group row m-b-15">
              <label class="col-form-label col-md-3" for="receptions">Receptions Benchmark</label>
              <div class="col-md-5">
                <input class="form-control m-b-5" type="text" placeholder="Receptions" id="receptions" />
              </div>
              <div class="col-md-4">
                <input class="form-control m-b-5" type="text" placeholder="Receptions Factor" id="receptionsF" />
              </div>
            </div>
            <div class="form-group row m-b-15">
              <label class="col-form-label col-md-3" for="rushingYards">Rushing Yards Benchmark</label>
              <div class="col-md-5">
                <input class="form-control m-b-5" type="text" placeholder="Rushing Yards" id="rushingYards" />
              </div>
              <div class="col-md-4">
                <input class="form-control m-b-5" type="text" placeholder="Rushing Yards Factor" id="rushingYardsF" />
              </div>
            </div>
            <div class="form-group row m-b-15">
              <label class="col-form-label col-md-3" for="sacks">Sacks Benchmark</label>
              <div class="col-md-5">
                <input class="form-control m-b-5" type="text" placeholder="Sacks" id="sacks" />
              </div>
              <div class="col-md-4">
                <input class="form-control m-b-5" type="text" placeholder="Sacks Factor" id="sacksF" />
              </div>
            </div>
            <div class="form-group row m-b-15">
              <label class="col-form-label col-md-3" for="rushingTouchdowns">Rushing Touchdowns Benchmark</label>
              <div class="col-md-5">
                <input class="form-control m-b-5" type="text" placeholder="Rushing Touchdowns" id="rushingTouchdowns" />
              </div>
              <div class="col-md-4">
                <input class="form-control m-b-5" type="text" placeholder="Rushing Touchdowns Factor" id="rushingTouchdownsF" />
              </div>
            </div>
            <div class="form-group row m-b-15">
              <label class="col-form-label col-md-3" for="soloTackles">Solo Tackle Benchmark</label>
              <div class="col-md-5">
                <input class="form-control m-b-5" type="text" placeholder="Solo Tackle" id="soloTackles" />
              </div>
              <div class="col-md-4">
                <input class="form-control m-b-5" type="text" placeholder="Solo Tackle Factor" id="soloTacklesF" />
              </div>
            </div>
            <div class="form-group row m-b-15">
              <label class="col-form-label col-md-3" for="tacklesForLoss">Tackles For Loss Benchmark</label>
              <div class="col-md-5">
                <input class="form-control m-b-5" type="text" placeholder="Tackles For Loss" id="tacklesForLoss" />
              </div>
              <div class="col-md-4">
                <input class="form-control m-b-5" type="text" placeholder="Tackles For Loss Factor" id="tacklesForLossF" />
              </div>
            </div>
            <div class="form-group row m-b-15">
              <label class="col-form-label col-md-3" for="totalTackles">Total Tackles Benchmark</label>
              <div class="col-md-5">
                <input class="form-control m-b-5" type="text" placeholder="Total Tackles" id="totalTackles" />
              </div>
              <div class="col-md-4">
                <input class="form-control m-b-5" type="text" placeholder="Total Tackles Factor" id="totalTacklesF" />
              </div>
            </div>
            <div class="form-group row m-b-15">
              <label class="col-form-label col-md-3" for="touchdownsThrown">Touchfowns Thrown Benchmark</label>
              <div class="col-md-5">
                <input class="form-control m-b-5" type="text" placeholder="Touchfowns Thrown" id="touchdownsThrown" />
              </div>
              <div class="col-md-4">
                <input class="form-control m-b-5" type="text" placeholder="Touchfowns Thrown Factor" id="touchdownsThrownF" />
              </div>
            </div>
            <div class="form-group row m-b-15">
              <label class="col-form-label col-md-3" for="forty">Forty Benchmark</label>
              <div class="col-md-5">
                <input class="form-control m-b-5" type="text" placeholder="Forty" id="forty" />
              </div>
              <div class="col-md-4">
                <input class="form-control m-b-5" type="text" placeholder="Forty Factor" id="fortyF" />
              </div>
            </div>
            <div class="form-group row m-b-15">
              <label class="col-form-label col-md-3" for="gamesPlayed">Games Played Benchmark</label>
              <div class="col-md-5">
                <input class="form-control m-b-5" type="text" placeholder="Games Played" id="gamesPlayed" />
              </div>
              <div class="col-md-4">
                <input class="form-control m-b-5" type="text" placeholder="Games Played Factor" id="gamesPlayedF" />
              </div>
            </div>
            <div class="form-group row m-b-15">
              <label class="col-form-label col-md-3" for="gamesStarted">Games Started Benchmark</label>
              <div class="col-md-5">
                <input class="form-control m-b-5" type="text" placeholder="Games Started" id="gamesStarted" />
              </div>
              <div class="col-md-4">
                <input class="form-control m-b-5" type="text" placeholder="Games Started Factor" id="gamesStartedF" />
              </div>
            </div>
            <div class="form-group row m-b-15">
              <label class="col-form-label col-md-3" for="height">Height Benchmark</label>
              <div class="col-md-5">
                <input class="form-control m-b-5" type="text" placeholder="Height" id="height" />
              </div>
              <div class="col-md-4">
                <input class="form-control m-b-5" type="text" placeholder="Height Factor" id="heightF" />
              </div>
            </div>
            <div class="form-group row m-b-15">
              <label class="col-form-label col-md-3" for="vertical">Vertical Benchmark</label>
              <div class="col-md-5">
                <input class="form-control m-b-5" type="text" placeholder="Vertical" id="vertical" />
              </div>
              <div class="col-md-4">
                <input class="form-control m-b-5" type="text" placeholder="Vertical Factor" id="verticalF" />
              </div>
            </div>
            <div class="form-group row m-b-15">
              <label class="col-form-label col-md-3" for="weight">Weight Benchmark</label>
              <div class="col-md-5">
                <input class="form-control m-b-5" type="text" placeholder="Weight" id="weight" />
              </div>
              <div class="col-md-4">
                <input class="form-control m-b-5" type="text" placeholder="Weight Factor" id="weightF" />
              </div>
            </div>
            <div class="form-group row m-b-15" style="display: flex;flex-direction: row;align-items: center;">
                <div class="subbtn col-md-5"><input type="submit" class="btn btn-lime" id="submit" value="Submit"></div>
                <div class="col-md-7" style="text-align: right"><a href="/addnewpillar">Add new Pillar</a></div>
              </div>
          </form>
        </div>
      </div>
      <!-- end panel -->

    </div>
    <!-- end col-6 -->

  </div>
  <!-- end row -->

</div>

<script>
  document.getElementById('athleticform').addEventListener('submit', function () {
    submit();
  });


  function submit() {
    const pos = document.getElementById("pos").value;

    const position = [
        { title: 'Quarterback', value: 'QB' },
        { title: 'Running Back', value: 'RB' },
        { title: 'Wide Receiver', value: 'WR' },
        { title: 'Offensive Line', value: 'OL' },
        { title: 'Defensive Line', value: 'DL' },
        { title: 'Tight End', value: 'TE' },
        { title: 'Linebacker', value: 'LB' },
        { title: 'Corner Back', value: 'CB' },
        { title: 'Kicker', value: 'K' },
        { title: 'Defensive End', value: 'DE' },
        { title: 'Defensive Tackle', value: 'DT' },
        { title: 'Offensive Guard', value: 'OG' },
        { title: 'Offensive Tackler', value: 'OT' },
        { title: 'Defensive Back', value: 'DB' },
        { title: 'Punter', value: 'P' },
        { title: 'Safety', value: 'S' },
        { title: 'Long Snapper', value: 'LS' }
      ].reduce(function (acc, elem) {
        if (elem.title === pos) {
          acc = elem.value
        }
        return acc
      }, 'QB')


    const benchmarks = {
      carries: document.getElementById("carries").value,
      compions: document.getElementById("completions").value,
      interceptionsThrown: document.getElementById("interceptionsThrown").value,
      passingYards: document.getElementById("passingYards").value,
      recievingYards: document.getElementById("receivingYards").value,
      receptions: document.getElementById("receptions").value,
      rushingTouchdowns: document.getElementById("rushingTouchdowns").value,
      rushingYards: document.getElementById("rushingYards").value,
      sacks: document.getElementById("sacks").value,
      soloTackle: document.getElementById("soloTackles").value,
      tacklesForLoss: document.getElementById("tacklesForLoss").value,
      totalTackles: document.getElementById("totalTackles").value,
      touchdownsThrown: document.getElementById("touchdownsThrown").value,
      forty: document.getElementById("forty").value,
      gamesPlayed: document.getElementById("gamesPlayed").value,
      gamesStarted: document.getElementById("gamesStarted").value,
      height: document.getElementById("height").value,
      vertical: document.getElementById("vertical").value,
      weight: document.getElementById("weight").value
    }

    const factors = {
      carries: document.getElementById("carriesF").value,
      compions: document.getElementById("completionsF").value,
      interceptionsThrown: document.getElementById("interceptionsThrownF").value,
      passingYards: document.getElementById("passingYardsF").value,
      recievingYards: document.getElementById("recievingYardsF").value,
      receptions: document.getElementById("receptionsF").value,
      rushingTouchdowns: document.getElementById("rushingTouchdownsF").value,
      rushingYards: document.getElementById("rushingYardsF").value,
      sacks: document.getElementById("sacksF").value,
      soloTackle: document.getElementById("soloTacklesF").value,
      tacklesForLoss: document.getElementById("tacklesForLossF").value,
      totalTackles: document.getElementById("totalTacklesF").value,
      touchdownsThrown: document.getElementById("touchdownsThrownF").value,
      forty: document.getElementById("fortyF").value,
      gamesPlayed: document.getElementById("gamesPlayedF").value,
      gamesStarted: document.getElementById("gamesStartedF").value,
      height: document.getElementById("heightF").value,
      vertical: document.getElementById("verticalF").value,
      weight: document.getElementById("weightF").value
    }

    updateBenchmarks(position, {})

  }

</script>
<!--<% stylesheet('/../assets/css/common.css') -%>-->
<!--<% stylesheet('/../assets/css/barchart.css') -%>-->
<!--<% stylesheet('/../assets/css/login.css') -%>-->
<!--<% stylesheet('/../assets/css/home.css') -%>-->
<!--<% stylesheet('/../assets/css/table.css') -%>-->
<!--<% script('/../assets/plugins/ejs/ejs.js') -%>-->
<!--<% script('/../assets/js/app/utils.js') -%>-->
<!--<% script('/../assets/js/app/api-mapper.js') -%>-->
<!--<% script('/../assets/js/app/api.js') -%>-->
<!--<% script('/../assets/js/app/domain.js') -%>-->
<!--<% script('/../assets/js/app/components/overall-score-section.js') -%>-->
<!--<% script('/../assets/js/app/components/core-attributes-section.js') -%>-->
<!--<% script('/../assets/js/app/components/academic-attributes-section.js') -%>-->
<!--<% script('/../assets/js/app/components/social-profile-attributes-section.js') -%>-->
<!--<% script('/../assets/js/app/components/emotional-intel-attributes-section.js') -%>-->
<!--<% script('/../assets/js/app/components/athletic-attributes-section.js') -%>-->
<!--<% script('/../assets/js/app/draw/draw-table.js') -%>-->
<!--<% script('/../assets/js/app/draw/draw-overall.js') -%>-->
<!--<% script('/../assets/js/app/draw/draw-bar-chart.js') -%>-->
<!--<% script('/../assets/js/app/draw/draw-top-culturals.js') -%>-->
<!--<% script('/../assets/js/app/draw/draw-pie-chart.js') -%>-->
<!--<% script('/../assets/js/app/home.js') -%>-->
