<%-partial('./partials/basePageHeader')%>

<body>

<%-partial('./partials/sidebarPositions')%>

<div class="wrap" id="mainSection">

  <%-partial('./partials/header')%>

  <section class="s-multiple-player">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="s-multiple-player__heading main-heading"><span>Multiple</span> Player Dashboard</h1>
        </div>
        <div class="col-md-6">
          <div id="compare-players-info-1">
            <div class="row">
              <div id="compare-players-info-score-1" class="col-md-12"></div>
              <div id="compare-players-info-card-1" class="col-md-12"></div>
              <div id="compare-players-info-attr-1" class="col-md-12"></div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div id="compare-players-info-2">
            <div class="row">
              <div id="compare-players-info-score-2" class="col-md-12"></div>
              <div id="compare-players-info-card-2" class="col-md-12"></div>
              <div id="compare-players-info-attr-2" class="col-md-12"></div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
</div>

<script src="/../assets/js/app/api.js"></script>
<script src="../updatedDesign/js/common.js"></script>
<script src="../updatedDesign/constants.js"></script>
<script src="../updatedDesign/comparePlayers.js"></script>
<script src="../updatedDesign/barBlock.js"></script>
<script>

  $(document).ready(function () {

    updateHeaderLinks();

    const urlParams = new URLSearchParams(window.location.search);

    const player1 = urlParams.get("player1");
    const player2 = urlParams.get("player2");

    const getData = (playerId, compId) => {
      getSinglePlayerData(playerId, (res, status) => {

        if (status === 'success') {
          const overallScore = Math.round(res.overallScore.player);
          const player = res.player;

          $(`#compare-players-info-score-${compId}`).html(AgdiagoScoreHtml(overallScore));
          $(`#compare-players-info-card-${compId}`).html(CardHtml(player));

          const playerScores = res.scores.player;
          const agdiagoScores = res.scores.agdiago;

          const promises = Object.keys(playerScores).map(key => {
            return new Promise((resolve, reject) => {
              getPlayerAttributesData(playerId, key, (data, status2) => {
                if (status2 === 'success') {
                  resolve (attrBlockHtml(key, agdiagoScores[key], playerScores[key], data, key));
                } else {
                  reject('Cannot get data')
                }
              });
            });
          })

          Promise.all(promises)
            .then(res=>{
              $(`#${`compare-players-info-attr-${compId}`}`).html(res.join(""));
              $('[data-toggle="tooltip"]').tooltip({animation: false, delay: 0})
            })
        }
      })
    }

    getData(player1, 1);
    getData(player2, 2);

  });

</script>

</body>

</html>
