<% layout('layout_main') -%>
<div id="content" class="content">
  <!-- begin breadcrumb -->
  <ol class="breadcrumb pull-right">
    <li class="breadcrumb-item"><a href="javascript:;">Home</a></li>
    <li class="breadcrumb-item active">Dashboard</li>
  </ol>
  <!-- end breadcrumb -->
  <!-- begin page-header -->
  <h1 class="page-header">Individual Player Dashboard</h1>
  <!-- end page-header -->

  <!-- begin row -->
  <div class="row">
    <!-- begin col-3 -->
    <div class="col-lg-3 col-md-6">
      <div class="widget widget-stats bg-grey-darker">
        <div class="stats-icon"><i class="fa fa-users"></i></div>
        <div class="stats-info">
          <h4>Overall score</h4>
          <p id="overallscore">Loading</p>
        </div>
        <div class="stats-link">
          <a href="javascript:;">View Detail <i class="fa fa-arrow-alt-circle-right"></i></a>
        </div>
      </div>
    </div>
    <!-- end col-3 -->
  </div>
  <!-- end row -->

  <!-- begin row -->
  <div class="row">
    <!-- begin col-6 -->
    <div class="col-lg-12">
      <!-- begin panel -->
      <div class="panel panel-inverse" id="basicInfo" data-sortable-id="index-7">
        <div class="panel-heading">
          <h4 class="panel-title">Basic Player info</h4>
        </div>
        <div class="panel-body">
          <div id="basic-player-info"></div>
        </div>
      </div>
      <!-- end panel -->
    </div>
    <!-- end col-6 -->
  </div>
  <!-- end row -->

  <div class="row">
    <!-- begin row -->
    <!-- begin col-12 -->
    <div class="col-lg-12">
      <!-- begin panel -->
      <div class="panel panel-inverse" id="playerAttributesBlock" data-sortable-id="index-7">
        <div class="panel-heading">
          <!-- <div class="panel-heading-btn">
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i
                class="fa fa-expand"></i></a>
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i
                class="fa fa-redo"></i></a>
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i
                class="fa fa-minus"></i></a>
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
          </div> -->
          <h4 class="panel-title">Player Attributes</h4>
        </div>
        <div class="panel-body">
          <!-- start accordion -->
          <div class="accordion" id="accordionExample">
          </div>
          <!-- accordion end -->
        </div>
      </div>
      <!-- end panel -->
    </div>
    <!-- end col-12 -->
  </div>
  <!-- end row -->
</div>

<% stylesheet('/../assets/css/common.css') -%>
<% stylesheet('/../assets/css/barchart.css') -%>
<% stylesheet('/../assets/css/dashboard-player.css') -%>
<% script('/../assets/js/app/utils.js') -%>
<% script('/../assets/js/app/drawOverall.js') -%>
<% script('/../assets/js/app/drawbarchart.js') -%>
<% script('/../assets/js/app/drawplayerinfo.js') -%>
<% script('/../assets/js/app/dashboard-player.js') -%>
