<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <!-- <base href="/"> -->

  <title>AgDiago</title>
  <meta name="description" content="">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- Template Basic Images Start -->
  <meta property="og:image" content="path/to/image.jpg">
  <link rel="icon" href="img/favicon/favicon.ico">
  <link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-touch-icon-180x180.png">
  <!-- Template Basic Images End -->

  <!-- Custom Browsers Color Start -->
  <meta name="theme-color" content="#F4F7FC">
  <!-- Custom Browsers Color End -->
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
  <link rel="stylesheet" href="../updatedDesign/assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="../updatedDesign/css/main.min.css">

  <script src="../updatedDesign/assets/js/jquery-3.4.0.min.js"></script>
  <script src="../updatedDesign/assets/js/bootstrap.bundle.min.js"></script>
  <script src="../updatedDesign/assets/js/bootstrap.min.js"></script>
</head>

<body>

<%- partial('./partials/sidebarPositions') %>

<div class="wrap" id="mainSection">

  <%- partial('./partials/header') %>

  <section class="top-de-dashboard">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 id="dashboard-switch-class"  class="s-player-dashboard__heading main-heading"></h1>
          <h1 id="dashboard-position-page-header" class="top-de-dashboard__heading main-heading"></h1>
        </div>
        <div class="col-md-12">
          <div class="top-de-dashboard__table-block">
            <div id="dashboard-position-table-header" class="top-de-dashboard__table-b-desc secondary-heading">

            </div>
            <div class="top-de-dashboard__table players-table">
              <div class="players-table__header">
                <div class="row align-items-center">
                  <div class="col-md-1 offset-1">
                    <div class="players-table__heading">
                      Rate
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="players-table__heading">
                      First Name
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="players-table__heading">
                      Last Name
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="players-table__heading">
                      Position
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="players-table__heading">
                      Score
                    </div>
                  </div>
                </div>
              </div>
              <div id="dashboard-position-top-10-players" class="players-table__body">
              </div>
              <div class="players-table__note note">
                Note this data represent public DE players from schools accross the USA based on
                your registered Atheletic and Academic benchmarks
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="top-de-dashboard__core-attr core-attr">
            <div class="core-attr__subheading">
              Overal Scores
            </div>
            <div class="core-attr__block" id="core-attr__block"></div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<script src="../updatedDesign/constants.js"></script>
<script src="../updatedDesign/js/common.js"></script>
<script src="/../assets/js/app/api.js"></script>
<script src="../assets/plugins/jquery/jquery-3.3.1.min.js"></script>
<script src="../assets/plugins/jquery-ui/jquery-ui.min.js"></script>

<script>
  $(document).ready(function () {

    const urlParams = new URLSearchParams(window.location.search);

    let position = (urlParams.get("position") || "").toUpperCase();

    const allClasses = urlParams.get("allClasses");

    let highschoolGraduationYear = (urlParams.get("highschoolGraduationYear") || "").toUpperCase() || "ALL";

    let header;

    const links = `<a href="/dashboard-position/?position=${position}&highschoolGraduationYear=${highschoolGraduationYear}&allClasses=${1}">All classes</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="/dashboard-position/?position=${position}&highschoolGraduationYear=${highschoolGraduationYear}">Current class</a> `

    $('#dashboard-switch-class').html(links);


    if (highschoolGraduationYear && highschoolGraduationYear !== "All" && !allClasses){
      header = `<span>${highschoolGraduationYear} class </span> <span>${position} </span> Position Dashboard `
    } else {
      header = `<span>All classes ${position} </span> Position Dashboard`
    }

    $("#dashboard-position-page-header").html(header);
    $("#dashboard-position-table-header").html(`Top 10 ${position} Players`);

    const barBlock = (title, mainScore, agdiagoScore, compName, res) => {
      const { player, agdiago, program } = res.attributes || {};

      const keys = Object.keys(player);
      const mainScoreScale = 70 / Math.max(agdiagoScore, mainScore)
      const mainScoreColor = mainScore <  agdiagoScore ? 'blue' : 'orange';

      const html = keys.map(key => {

        const count = player[key];
        const red = agdiago[key]
        const black = program[key]

        const color = count <  black ? 'blue' : 'orange';

        const scale = 70 / Math.max(length, red, black)

        return `<div class="core-attr__heading">
                  ${attributesNamesMatches[key] || key}
                </div>
                <div class="core-attr__ag-score">
                  <div class="core-attr__ag-score-progressbar ${color}" style="width: ${count * scale}%"></div>
                  <div style="position: absolute;height: 100%;width: 5px;background: red;left: ${red * scale}%;z-index: 100;"></div>
                  <div style="position: absolute;height: 100%;width: 5px;background: black;left: ${black * scale}%;z-index: 100;"></div>
                  <div class="core-attr__ag-score-value">${Math.round(player[key])}</div>
                </div>`
      }).join('');

      const attrBlock = `<div class="core-attr__block">
              <div class="core-attr__heading">
                ${title}
              </div>
              <div class="core-attr__ag-score">
                <div class="core-attr__ag-score-progressbar ${mainScoreColor}" style="width: ${mainScoreScale * mainScore}%"></div>
                  <div style="position: absolute;height: 100%;width: 5px;background: black;left: ${mainScoreScale * agdiagoScore}%;z-index: 100;"></div>

                <div class="core-attr__ag-score-value">AG Score: ${Math.round(mainScore)}</div>
              </div>
              <button class="core-attr__more-btn" type="button" data-toggle="collapse"
                      data-target="#${compName}" aria-expanded="false"
                      aria-controls="${compName}">
                <span class="core-attr__more-btn-show">Show Sub Categories</span>
                <span class="core-attr__more-btn-hide">Hide Sub Categories</span>
                <div class="core-attr__more-btn-arrow">
                  <img src="../updatedDesign/img/core-attr-arrow.svg" alt="">
                </div>
              </button>
              <div class="core-attr__more-block collapse" id="${compName}"
                   aria-labelledby="${compName}">
                   ${html}
              </div>
            </div>`

      $(`#core-attr__block`).append(attrBlock);

    }

    getTopCulturalFitData(position, allClasses ? "ALL" : highschoolGraduationYear, (res, status) => {
      if (status === 'success') {

        const { players = [] } = res;

        const urlParams = new URLSearchParams(window.location.search);

        let highschoolGraduationYear = (urlParams.get("highschoolGraduationYear") || "").toUpperCase() || "ALL";

        const html = players.map((player, index) => {

          const { fname, id, lname, position, team, value } = player;

          return `<div class="players-table__row">
                  <div class="row align-items-center">
                    <div class="col-md-1">
                      <div class="players-table__item avatar">
                        <img src="../updatedDesign/img/player-avatar.jpg" alt="">
                      </div>
                    </div>
                    <div class="col-md-1">
                      <div class="players-table__item">
                        ${index + 1}
                      </div>
                    </div>
                    <div class="col-md-2">
                      <div class="players-table__item">
                        ${fname}
                      </div>
                    </div>
                    <div class="col-md-2">
                      <div class="players-table__item">
                         ${lname}
                      </div>
                    </div>
                    <div class="col-md-2">
                      <div class="players-table__item">
                        ${position}
                      </div>
                    </div>
                    <div class="col-md-1">
                      <div class="players-table__item">
                        ${Math.round(value)}
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="players-table__item btn-block">
                        <a href="/dashboard-player/?id=${id}&highschoolGraduationYear=${highschoolGraduationYear}"><button class="showdetails-btn">Show Details</button></a>
                      </div>
                    </div>
                  </div>
                </div>`
        }).join("");

        $("#dashboard-position-top-10-players").html(html);

      }
    })

    getOverallScoresData(position, (res, status) => {
      if (status === 'success') {
        const scores = res.scores.player;
        const agdiagoScores = res.scores.agdiago;

        for (let key in scores) {
          getAttributesData(position, key, (data, status2) => {
            if (status2 === 'success') {
              barBlock(key, scores[key], agdiagoScores[key], key + '12345', data);
            }
          });
        }
      }
    });
  });

</script>

</body>

</html>
