<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <!-- <base href="/"> -->

  <title>AgDiago</title>
  <meta name="description" content="">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- Template Basic Images Start -->
  <meta property="og:image" content="path/to/image.jpg">
  <link rel="icon" href="img/favicon/favicon.ico">
  <link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-touch-icon-180x180.png">
  <!-- Template Basic Images End -->

  <!-- Custom Browsers Color Start -->
  <meta name="theme-color" content="#F4F7FC">
  <!-- Custom Browsers Color End -->
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
  <link rel="stylesheet" href="../updatedDesign/assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="../updatedDesign/css/main.min.css">

  <script src="../updatedDesign/assets/js/jquery-3.4.0.min.js"></script>
  <script src="../updatedDesign/assets/js/bootstrap.bundle.min.js"></script>
  <script src="../updatedDesign/assets/js/bootstrap.min.js"></script>
</head>

<body>

<%- partial('./partials/sidebarPositions') %>

<div class="wrap" id="mainSection">

  <%- partial('./partials/header') %>

  <section class="individual-player">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="individual-player__heading main-heading"><span>Individual</span> Player Dashboard</h1>
        </div>
        <div id="individual-player-main-info" class="col-md-12">
        </div>
        <div class="col-md-12">
          <div class="individual-player__core-attr core-attr">
            <div class="core-attr__subheading">
              Player Attributes
            </div>
            <div class="core-attr__block" id="core-attr__block"></div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<script src="../updatedDesign/constants.js"></script>
<script src="../updatedDesign/js/common.js"></script>
<script src="/../assets/js/app/api.js"></script>
<script src="../assets/plugins/jquery/jquery-3.3.1.min.js"></script>
<script src="../assets/plugins/jquery-ui/jquery-ui.min.js"></script>
<script src="../updatedDesign/barBlock.js"></script>

<script>
  $(document).ready(function () {

    const urlParams = new URLSearchParams(window.location.search);

    const id = urlParams.get("id");

    getSinglePlayerData(id, (res, status) => {

      if (status === 'success') {
        const overallScore = Math.round(res.overallScore.player);
        const coreAttributesScore = Math.round(res.scores.player.coreAttributes);

        const { hometown, school, fname, lname } = res.player || {}

        const html = `
          <div class="row">
            <div class="col-md-7">
              <div class="individual-player__info player-info">
                <div class="player-info__heading small-desc">Player Information 1</div>
                <div class="player-info__box green">
                  <div class="row">
                    <div class="col-md-3">
                      <div class="player-info__photo">
                        <img src="../updatedDesign/img/player-photo.jpg" alt="">
                      </div>
                    </div>
                    <div class="col-md-9">
                      <div class="player-info__name">${fname} ${lname} <a href="/addnewathlete?id=${id}">Edit</a> </div>
                      <div class="player-info__additional-info">Hometown: ${hometown}</div>
                      <div class="player-info__additional-info">Atheletic Coach: Not Available</div>
                      <div class="player-info__additional-info">Scout Date: Not Available</div>
                      <div class="player-info__additional-info">High School: ${school}</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-5">
              <div id="individual-player-score" class="individual-player__score player-info">
                <div class="player-info__heading small-desc">Agdiago Score</div>
                <div class="player-info__box red">
                  <div class="row">
                    <div class="col-md-5 d-flex align-items-center">
                      <div class="player-info__score-icon">
                        <img src="../updatedDesign/img/score-icon.svg" alt="">
                      </div>
                    </div>
                    <div class="col-md-7">
                      <div class="player-info__score-content">
                        <div class="player-info__score-graph">
                          <img src="../updatedDesign/img/score-graph.svg" alt="">
                        </div>
                        <div class="player-info__score-number">${overallScore}</div>
                        <div class="player-info__score-based-on">Based on registered benchmarks</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>`

        $("#individual-player-main-info").html(html);
        $("#individual-player-core-attr-score").html(`AG Score: ${coreAttributesScore}`);


        const scores = res.scores.player;
        const agdiagoScores = res.scores.agdiago;

        for (let key in scores) {
          getPlayerAttributesData(id, key, (data, status2) => {
            if (status2 === 'success') {
              barBlock(key, scores[key], agdiagoScores[key], key + '12345', 'core-attr__block', data);
            }
          });
        }
      }
    })
  });

</script>
</body>

</html>
