<%-partial('./partials/basePageHeader')%>

<body>

<%- partial('./partials/sidebarPositions') %>

<div class="wrap" id="mainSection">

  <%- partial('./partials/header') %>

  <section  class="individual-player">
    <div  class="container">
      <div class="row">
        <div id="individual-player-main-header" class="col-md-12"></div>
        <div id="individual-player-main-info" class="col-md-12"></div>
        <div class="col-md-12">
          <div class="individual-player__attr attr">
            <div class="attr__header px-4">
              <div class="row">
                <div class="col-md-3">
                  <div class="attr__header-benchmark">
                    <div class="attr__header-benchmark-block">
                      <div class="attr__benchmark-prog-bar ">
                        <div class="attr__benchmark-position red-point" style="width: 80%"></div>
                      </div>
                      <div>- Team benchmark </div>
                    </div>
                    <div class="attr__header-benchmark-block">
                      <div class="attr__benchmark-prog-bar ">
                        <div class="attr__benchmark-position black-point" style="width: 40%"></div>
                      </div>
                      <div>- AgDiago benchmark</div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="attr__header-meet">
                    <div class="attr__header-meet-block">
                      <div class="attr__meet-point green"></div>
                      <div>- Meets or exceeds team benchmark</div>
                    </div>
                    <div class="attr__header-meet-block">
                      <div class="attr__meet-point orange"></div>
                      <div>- Does not meet team benchmark</div>
                    </div>
                  </div>
                </div>
                <div class="col-md-5 d-flex align-items-center justify-content-end"><button data-toggle="modal" data-target="#add-attr" class="attr__header-add-attr">+ Add an Attribute</button></div>
              </div>
            </div>
            <div id="attributes-section" class="attr__block-wrap"></div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<script src="../updatedDesign/constants.js"></script>
<script src="../updatedDesign/js/common.js"></script>
<script src="/../assets/js/app/api.js"></script>
<script src="../updatedDesign/barBlock.js"></script>

<script>
  $(document).ready(function () {

    updateHeaderLinks();

    const urlParams = new URLSearchParams(window.location.search);

    const id = urlParams.get("id");

    getSinglePlayerData(id, (res, status) => {

      if (status === 'success') {
        const overallScore = Math.round(res.overallScore.player);

        const { hometown, school, fname, lname, position } = res.player || {}

        const header = `<h1 class="individual-player__heading main-heading"><span>${getFullNamePosition(position)} Individual</span> Player Dashboard</h1>`

        const mainInfo = `<div class="row">
							<div class="col-md-7">
								<div class="individual-player__info player-info">
									<div class="player-info__heading small-desc">Player Information 1</div>
									<div class="player-info__box green">
										<div class="row w-100">
											<div class="col-md-3">
												<div class="player-info__photo">
													<img src="../updatedDesign/img/player-photo.jpg" alt="">
												</div>
											</div>
											<div class="col-md-5">
												<div class="player-info__name">${fname} ${lname}</div>
												<div class="player-info__additional-info">Hometown: ${hometown}</div>
												<div class="player-info__additional-info">Atheletic Coach: Not Available</div>
												<div class="player-info__additional-info">Scout Date: Not Available</div>
												<div class="player-info__additional-info">High School: ${school}</div>
											</div>
											<div class="col-md-4 d-flex align-items-center justify-content-end pr-0">
												<div class="player-info__score-position">
													${position.toUpperCase()}
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-5">
								<div class="individual-player__score player-info">
									<div class="player-info__heading small-desc">Agdiago Score</div>
									<div class="player-info__box red">
										<div class="row w-100">
											<div class="col-md-5 d-flex align-items-center">
												<div class="player-info__score-icon">
													<img src="../updatedDesign/img/score-icon.svg" alt="">
												</div>
											</div>
											<div class="col-md-7">
												<div class="player-info__score-content">
													<div class="player-info__score-number">${overallScore}</div>
													<div class="player-info__score-based-on">Based on registered benchmarks</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>`

        $("#individual-player-main-header").html(header);
        $("#individual-player-main-info").html(mainInfo);

        const playerScores = res.scores.player;
        const agdiagoScores = res.scores.agdiago;

        for (let key in playerScores) {
          getPlayerAttributesData(id, key, (data, status2) => {
            if (status2 === 'success') {
              attrBlock(key, agdiagoScores[key], playerScores[key], data, 'attributes-section', key + '-attr-id');
            }
          });
        }
      }
    })
  });

</script>
</body>

</html>
