<%-partial('./partials/basePageHeader')%>

<body>

<%-partial('./partials/header')%>

<section class="s-main">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="s-main__heading main-heading"><span>Welcome,</span> Coach <%= user.name || "Denbrock" %>!</h1>
      </div>
      <div class="col-md-12">
        <h4 class="s-main__full-view">Full view of players</h4>
        <div class="s-main__class-block">
          <div id="classes-buttons" class="row">
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="d-block s-main__content-block s-main__content-block--blue">
              <a href="/dashboard-position/?position=offense" class="s-main__content-heading">Offense</a>
            </div>
          </div>
          <div class="col-md-4">
            <div class="s-main__content-block s-main__content-block--green">
              <a href="/dashboard-position/?position=defense" class="s-main__content-heading">Defense</a>
            </div>
          </div>
          <div class="col-md-4">
            <div class="s-main__content-block s-main__content-block--red">
              <a href="/dashboard-position/?position=special" class="s-main__content-heading">Special Teams</a>
            </div>
          </div>
          <div class="col-md-4">
            <div class="s-main__content-block s-main__content-block--orange">
              <a href="#" class="s-main__content-heading">Current Roster </a>
            </div>
          </div>
          <!--<div class="col-md-4">-->
            <!--<div class="s-main__content-block s-main__content-block&#45;&#45;darkblue">-->
              <!--<a href="#" class="s-main__content-heading">My Digital Brand</a>-->
            <!--</div>-->
          <!--</div>-->
        </div>
      </div>
    </div>
  </div>
</section>

<script src="/../assets/js/app/api.js"></script>
<script src="../updatedDesign/js/common.js"></script>

<script>
  $(document).ready(function () {
    getClasses((res, status) => {

      const colors = ['blue', 'green', 'red'];

      if (status === 'success') {
        const classes = res.players.reduce((acc, elem) => {
          if (!acc.includes(elem.value)) {
            if (elem.value) {
              return [...acc, elem.value];
            }
          }
          return acc;
        }, []).sort();

        const html = classes.map((elem, i) => {
          const color = colors[i % colors.length];
          return `<div class="col-md-3">
              <a href="/class?&highschoolGraduationYear=${elem}" class="s-main__class ${color}"><div class="s-main__class-heading">Recruiting Class of</div><div class="s-main__class-number">${elem} </div></a>
            </div>`;
        });

        $('#classes-buttons').html(html.join(''));
      }
    });
  });

</script>

</body>

</html>
