<aside id="footer-widgets">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3 class="footer-widget-title">Sitemap</h3>
                <ul class="list-unstyled three_cols">
                    <li><a href="/">Home</a></li>
          
                    <li><a href="/profile">About Us</a></li>
                    <li><a href="/player_assessment">Assesment</a></li>
                    <li><a href="/cultural_fit">Cultral Fit</a></li>
                    <li><a href="/branding">Digtial Brand</a></li>
                    <li><a href="/faq">FAQ</a></li>
                    <li> <a href="#" data-toggle="modal" data-target="#myModal" class="">Login</a></li>
                    <li><a href="/contact">Contact</a></li>

                
                </ul>

                <img src="/assets/img/logo.png" class="img-responsive">
                <!-- <h3 class="footer-widget-title">Subscribe</h3>
                <p>Lorem ipsum Amet fugiat elit nisi anim mollit minim labore ut esse Duis ullamco ad dolor veniam velit.</p>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Email Adress">
                    <span class="input-group-btn">
                        <button class="btn btn-ar btn-primary" type="button">Subscribe</button>
                    </span>
                </div> --><!-- /input-group -->
            </div>
            <div class="col-md-4">
                <div class="footer-widget">
                    <h3 class="footer-widget-title">Recent Tweets</h3>
                 <a class="twitter-timeline" data-height="300" data-dnt="true" data-link-color="#2B7BB9" href="https://twitter.com/agdiago?ref_src=twsrc%5Etfw">Tweets by agdiago</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
            </div>
            <div class="col-md-4">
                <div class="footer-widget">
                    <h3 class="footer-widget-title">We aspire to be</h3>
                    <div class="row">
                <div style="position:relative;height:0;padding-bottom:56.24%"><iframe src="https://www.youtube.com/embed/9UVQT7ShMT8?ecver=2" style="position:absolute;width:100%;height:100%;left:0" width="400" height="360" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>
                    </div>
                </div>
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</aside> <!-- footer-widgets -->
<footer id="footer">
    <p>&copy; 2017-2018 , Agdiago LLC. All rights reserved.</p>
</footer>

</div> <!-- boxed -->
</div> <!-- sb-site -->


