<% layout('../layout_main') -%>
    <header class="dare main-header">
        <div class="container">
            <h1 class="page-title">Coaches Digital Brand</h1>
            <ol class="breadcrumb pull-right">
                <li><a href="/">Pages</a></li>
                <li><a href="/">Our Work</a></li>
                <li class="active">Coaches Digital Brand</li>
            </ol>
        </div>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h2 class="right-line">Your Digital Persona</h2>
             <blockquote class="blockquote-color">
                    <p class="dropcaps">
                        Having a thorough understanding of your personal brand will provide clarity for your development as a coach. Even more, controlling your brand is critical to your career development.</p>
                </blockquote>
  <div class="text-center">
     <span class="icon-ar icon-ar-circle icon-ar-xl-sm icon-ar-black icon-ar-inverse"><i class="fa fa-twitter"></i></span>
    <span class="icon-ar icon-ar-circle icon-ar-xl-sm icon-ar-black icon-ar-inverse"><i class="fa fa-facebook"></i></span>
    <span class="icon-ar icon-ar-circle icon-ar-xl-sm icon-ar-black icon-ar-inverse"><i class="fa fa-google"></i></span>
    <span class="icon-ar icon-ar-circle icon-ar-xl-sm icon-ar-black icon-ar-inverse"><i class="fa fa-instagram"></i></span>
    <span class="icon-ar icon-ar-circle icon-ar-xl-sm icon-ar-black icon-ar-inverse"><i class="fa fa-linkedin"></i></span>
    <span class="icon-ar icon-ar-circle icon-ar-xl-sm icon-ar-black icon-ar-inverse"><i class="fa fa-youtube"></i></span>
    <span class="icon-ar icon-ar-circle icon-ar-xl-sm icon-ar-black icon-ar-inverse"><i class="fa fa-tumblr"></i></span>
    <span class="icon-ar icon-ar-circle icon-ar-xl-sm icon-ar-black icon-ar-inverse"><i class="fa fa-pinterest"></i></span>
</div>



             
                <a href="#" class="thumbnail"><img src="/assets/img/web-3706563_1920.jpg" class="img-responsive" alt="persona"></a>
            </div>
            <div class="col-md-5">
                <aside class="sidebar">
                    <div class="row">
                        <div class="col-md-12">
                            <h2 class="right-line">Finding Your Digital Brand</h2>
                            <div class="panel-group" id="accordion">
                                <div class="panel panel-default">
                                    <div class="panel-heading panel-heading-link">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" class="collapsed">
                                            <i class="fa fa-lightbulb-o"></i> Who are you?
                                        </a>
                                    </div>
                                    <div id="collapseOne" class="panel-collapse collapse in" aria-expanded="true" style="">
                                        <div class="panel-body">
                                            <p>How do you envision yourself?</p>
                                            <p>What is your perception of how the world sees you?</p>
                                            <p>What is your current digital footprint?</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading panel-heading-link">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="collapsed" aria-expanded="false">
                                            <i class="fa fa-desktop"></i> Who you are?
                                        </a>
                                    </div>
                                    <div id="collapseTwo" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                        <div class="panel-body">
                                            <p>In the media and social media as a coach</p>
                                            <p>Players that have gone on to play at the next level, other “where are they now stories”</p>
                                            <p>By the numbers (statistical successes, winning teams/records, etc)</p>
                                            <p>In the community (good works/volunteering)</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading panel-heading-link">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="" aria-expanded="true">
                                            <i class="fa fa-user"></i> Who you want to be?
                                        </a>
                                    </div>
                                    <div id="collapseThree" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                        <div class="panel-body">
                                            <p>The power of your brand is fully realized when it is understood, grown and maintained.&nbsp;We combine our technology and expertise with your brand goals to help you achieve and maintain your desired brand.</p>
                                            <p>Our advanced capabilities present a multi-faceted view of your brand and digital footprint and unveil the pathway for what you aspire your brand to be.</p>
                                            <p>Opportunity is found at the crossroads of knowing who you are, where you have been and in unlocking the power to see where you are going.</p>
                                            <p>We will be the beacon to discover and brand the real you.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </aside>
                <!-- Sidebar -->
            </div>
        </div>
    </div>
