<% layout('../layout_main') -%>
    <header class="main-header">
        <div class="container">
            <h1 class="page-title">Contact</h1>
            <ol class="breadcrumb pull-right">
                <li><a href="/">Pages</a></li>
                <li class="active">Contact</li>
            </ol>
        </div>
    </header>
    <div class="container team-body">
        <div class="row">
            <div class="col-md-6">
                <div class="col-md-12">
                    <h2 class="right-line">Chicago</h2>
                    <p>1234 Chicago Lane</p>
                    <img src="/assets/img/chicago-343941_1920.jpg" class="img-responsive">
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-12">
                    <h2 class="right-line">Atlanta</h2>
                    <p>12345 Peachtree</p>
                    <img src="/assets/img/atlanta-819326_1920.jpg" class="img-responsive">
                </div>
            </div>
        </div>
    </div>