<% layout('../layout_main') -%>
    <!-- Slider -->
    <style lang="scss">
    .glyphicon-chevron-right,
    .glyphicon-chevron-left {
        color: grey;
    }
    
    .carousel-indicators > li {
        border-color: grey;
    }
    
    .carousel-indicators .active {
        background-color: grey;
    }
    
    .item > img {
        height: 500px!important;
        background-color: cornflowerblue;
    }
    </style>
    <header class="main-header">
        <div class="container">
            <h1 class="page-title">Cultural Fit</h1>
            <ol class="breadcrumb pull-right">
                <li><a href="#">Dashboard</a></li>
                <li class="active">Cultural Fit</li>
            </ol>
        </div>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <blockquote class="blockquote-color">
                    <p class="dropcaps">
                        Building a strong team culture increases player performance and ultimately leads to wins on and off-the-field. AgDiago will help you discover your culture and identify athletes that best fit your culture. Data and analytics have become a vital part of our world, and the sports world is no exception. Information and technology influence and increase the process and accuracy of decision-making in preparation for excellence in competition. Data and analytics are advancing all sports at all levels of competition.
                    </p>
                </blockquote>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <img src="assets/img/artificial-intelligence-3685928_1920.png" alt="football" class="img-responsive">
                <!--   <section class="animated fadeInLeft animation-delay-8">
                <div id="culturalFitCarousel" class="carousel carousel-images slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#culturalFitCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#culturalFitCarousel" data-slide-to="1"></li>
                        <li data-target="#culturalFitCarousel" data-slide-to="2"></li>
                        <li data-target="#culturalFitCarousel" data-slide-to="3"></li>
                        <li data-target="#culturalFitCarousel" data-slide-to="4"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="item active">
                            <img src="assets/img/player-silhouette.jpg" alt="First slide image">
                            <div class="carousel-caption animated fadeInUpBig">
                                <h3>What If...</h3>
                                <p>... You knew your team before you had one player on your roster?</p>
                            </div>
                        </div>
                        <div class="item">
                            <img src="assets/img/player-silhouette.jpg" alt="Second slide image">
                            <div class="carousel-caption animated fadeInUpBig">
                                <h3>What If...</h3>
                                <p>... Your players' strengths, attributes, abilities and characteristics aligned with each other in such a way that it redefined the meaning of "TEAM"?</p>
                            </div>
                        </div>
                        <div class="item">
                            <img src="assets/img/player-silhouette.jpg" alt="Third slide image">
                            <div class="carousel-caption animated fadeInUpBig">
                                <h3>What If...</h3>
                                <p>... You could define and capture your vision of winning culture with quick precision?</p>
                            </div>
                        </div>
                        <div class="item">
                            <img src="assets/img/player-silhouette.jpg" alt="Forth slide image">
                            <div class="carousel-caption animated fadeInUpBig">
                                <h3>What If...</h3>
                                <p>... There was a technology that enabled What if to become What is?</p>
                            </div>
                        </div>
                        <div class="item">
                            <img src="assets/img/player-silhouette.jpg" alt="Forth slide image">
                            <div class="carousel-caption animated fadeInUpBig">
                                <h3>Welcome to AgDiago where What If becomes <strong>What Is</strong></h3>
                            </div>
                        </div>
                    </div>
                    <a class="left carousel-control" href="#culturalFitCarousel" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#culturalFitCarousel" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
                <div class="col-md-12 margin-top">
                    <a href="#" class="button button-3d button-primary button-rounded">Cultural Fit Dashboard</a>
                </div>
            </section> -->
            </div>
            <div class="col-md-4">
                <h5><b>What If ...</b></h5>
                <ul>
                    <li>
                        <p><b>You knew your team before you had one player on your roster?</p></b></p>
                    </li>
                    <li>
                        <p><b>Your players' strengths, attributes, abilities and characteristics aligned with each other in such a way that it redefined the meaning of "TEAM"?</p></b></p>
                    </li>
                    <li>
                        <p><b>You could define and capture your vision of winning culture with quick precision?</p></b></p>
                        <li>
                            <p><b>There was a technology that enabled What if to become What is?</p></b></p>
                        </li>
                </ul>
                <h3>Welcome to AgDiago where What If becomes <strong>What Is</strong></h3>
                <img src="assets/img/logo.png" alt="football" class="img-responsive">
                <!--  <div class="panel panel-primary animated fadeInUp animation-delay-12">
                <div class="panel-body">


          
                  <blockquote class="blockquote-color-bg-primary">
                        <p>
                            To be truly successful, a coach must exhibit leadership with his staff, with his players, and in the community.
                            In addition to handling the technical aspects of football, a coach has a number of other core responsibilities, including teaching values, developing a sound work ethic with colleagues and athletes, and emphasizing to the players the benefits of receiving an education.
                        </p>
                        <footer>Grant Teaff, Head Football Coach, Baylor University (1972-1992)</footer>
                    </blockquote>
                </div>
            </div> -->
            </div>
        </div>
    </div>
    <!-- container -->
