<% layout('../layout_main') -%>
    <header class="main-header">
        <div class="container">
            <h1 class="page-title">FAQ</h1>
            <ol class="breadcrumb pull-right">
                <li><a href="/">Pages</a></li>
                <li><a href="/">Help</a></li>
                <li class="active">FAQ</li>
            </ol>
        </div>
    </header>
    <div class="container">
        <div class="row">
            <section>
                <div class="col-xs-12">
                    <p class="faq-description">
                        We welcome your questions and input. If you don't see an answer to a question you have, please send us your question! We will get right on it and get you a response quickly!
                    </p>
                </div>
            </section>
            <div class="col-md-8">
                <h2 class="section-title">List of Questions</h2>
                <div class="panel-group" id="accordion1">
                    <div class="panel panel-primary">
                        <div class="panel-heading panel-plus-link">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne1">
              1. Who will be able to see the Cultural Fit Information?
            </a>
                        </div>
                        <div id="collapseOne1" class="panel-collapse collapse in">
                            <div class="panel-body">
                                Only you and authorized members of your coaching staff will be able to view your Cultural Fit pages.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading panel-plus-link">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapseTwo1">
              2. Who will be able to see the information and pages regarding our Athlete’s Assessment?
            </a>
                        </div>
                        <div id="collapseTwo1" class="panel-collapse collapse">
                            <div class="panel-body">
                                Only you and authorized members of your coaching staff will be able to view your Athlete’s Assessment pages and information.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading panel-plus-link">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapseThree1">
              3. How many times should a player take the athlete assessment?
            </a>
                        </div>
                        <div id="collapseThree1" class="panel-collapse collapse">
                            <div class="panel-body">
                                Once is most often enough, but we recommend no more than once every two years.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading panel-plus-link">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapseFive1">
              4. Who will be able to see my Digital Brand Profile?
            </a>
                        </div>
                        <div id="collapseFive1" class="panel-collapse collapse">
                            <div class="panel-body">
                                Only you and anyone you share your profile with will be able to view your Digital Brand Profile?
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading panel-plus-link">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapseSix1">
              5. How often should a coach’s Digital Brand be reviewed?
            </a>
                        </div>
                        <div id="collapseSix1" class="panel-collapse collapse">
                            <div class="panel-body">
                                While it is encouraged that your Digital Brand be monitored on a regular basis (i.e. monthly or when something significant happens
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading panel-plus-link">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapseSeven1">
              6. What is an AgDiago?
            </a>
                        </div>
                        <div id="collapseSeven1" class="panel-collapse collapse">
                            <div class="panel-body">
                                AgDiago is an acronym that stands for A Good Defense Is A Good Offense.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading panel-plus-link">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapseEight1">
              7. Does Talent Predict Performance Outcomes?
            </a>
                        </div>
                        <div id="collapseEight1" class="panel-collapse collapse">
                            <div class="panel-body">
                                The presence of talent statistically predicts performance outcomes but can best be understood to more directly cause behaviors that allow us to exceed the demands of a role — when augmented with the appropriate knowledge, skills and experiences.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading panel-plus-link">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapseNine1">
              8. What Is the Difference Between Talent and Personality Traits?
            </a>
                        </div>
                        <div id="collapseNine1" class="panel-collapse collapse">
                            <div class="panel-body">
                                Talent is broader than personality traits. It can include personality traits as well as other characteristics that are not personality traits, such as general mental ability/intelligence. Personality traits can be talents, but not all talents are personality traits. The talents we measure include personality traits, but also values, for example, and thinking style, which overlaps with general mental ability/intelligence.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading panel-plus-link">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapseTen1">
              9. What Is the Difference Between Talent and Competencies?
            </a>
                        </div>
                        <div id="collapseTen1" class="panel-collapse collapse">
                            <div class="panel-body">
                                Talent-based selection is compatible with accurate competency modeling. The behaviors that talents enable — when augmented with knowledge and skills — are sound competencies if they correctly align with the demands of a role, performance outcomes for the role and business outcomes. Said differently, talents can be best understood as causal links to competencies/behaviors. Talents are the capacity, whereas competencies are behaviors that satisfy the demands of a role.
                            </div>
                        </div>
                    </div>
                </div>
                <!-- panel-group -->
            </div>
            <!-- col-md-8 -->
            <div class="col-md-4">
                <h2 class="section-title">More Questions?</h2>
              <img src="/assets/img/mistake-1966448_1920.jpg" class="img-responsive"><br>
              <p> Call us: 1-888-555-1212</p>
            </div>
        </div>
        <!-- row -->
    </div>
