<% layout('../layout_main') -%>
    <!-- Slider -->
    <style lang="scss">
    .glyphicon-chevron-right,
    .glyphicon-chevron-left {
        color: grey;
    }
    
    .carousel-indicators > li {
        border-color: grey;
    }
    
    .carousel-indicators .active {
        background-color: grey;
    }
    
    .item > img {
        height: 500px!important;
        background-color: cornflowerblue;
    }
    </style>
    <header class="main-header">
        <div class="container">
            <h1 class="page-title">Player Assessment</h1>
            <ol class="breadcrumb pull-right">
                <li><a href="#">Dashboard</a></li>
                <li class="active">Player Assessment</li>
            </ol>
        </div>
    </header>
    <section ">
  <div class="container ">
    <div class="row ">
      <div class="col-md-12 padding-5 ">
         <blockquote class="blockquote-color ">
      
          <p class="dropcaps ">The Athlete Assessment is specifically designed to measure the presence of <span>naturally recurring patterns of thought, feeling and behavior</span> that can be productively applied as an athlete.
          The personal characteristics being evaluated are innate and cannot be learned.
          The assessment is designed to <span>better understand instinctive responses</span> to the various circumstances and opportunities that may factor into an athlete's fit within a program.
        </p>
         </blockquote>
      </div>
    </div>
  </div>
</section>

<div class="container ">
  <section>
   
  </section>
  <section>
    <div class="row ">
      <div class="col-md-12 ">
        <h2 class="right-line ">Full 360 View of player physical and mental dimensions</h2>
      </div>
      <div class="col-md-6 ">
        <div >
          <div class="row ">
            <div class="col-md-12 ">
              <div class="text-center">
              <p><strong>Athletic | Social | Emotional  | Academic | Core Attributes | Pyschometrics</strong></p>
            </div>
                      <video class="img-responsive"  loop="loop" muted="" autoplay="autoplay" playsinline="playsinline">
    <source src="assets/img/dashboard.mp4" type="video/mp4">
</video>
              <p>Our data analytics platform provides unrelenting focus toward enhancing your program.  We identify and unlock key performance attributes in your athletes that transform a winning edge into a winning formula.
              </p>
            </div>
          </div>
        </div>
        <hr class="dotted ">
        <div >
          <div class="row ">
           <!--  <div class="col-md-12 ">
              <p>AgDiago is a powerful and valuable partner for you, your coaching staff and your program.  Our athlete assessment technology provides the ability to transcend traditional recruiting processes and talent reviews, allowing you to spend less time recruiting and more time coaching.</p>
            </div> -->
          </div>
        </div>

             <div class="row ">
            <!-- <div class="col-md-12 ">
              <p>Interactive dashboards specific to each player help maximize the volume of coachable athletes and prospects, decrease player attrition and enhance the overall experience for the athlete and your program.</p>
            </div> -->

          </div>
          <center>
            <div class="row ">
          <div class="col-md-12 ">
            <a href="# " class="button button-3d button-rounded ">Athlete Assessment Workroom</a>
          </div>
        </div>
      </center>
      </div>
      <div class="col-md-6 ">
        <blockquote class="blockquote-color ">
          <p class="dropcaps">Presence of specific natural behaviors within an individual allows one to exceed the demands of a role, when augmented with the appropriate knowledge, skills and experiences.  This assessment evaluates how your characteristics align with typical characteristics of successful athletes which helps us understand how you naturally and consistently behave in ways that will lead to performance excellence.</p>
        </blockquote>


 <img src="assets/img/footballplay.png " alt="football " class="img-responsive" >
        <div>
     
        </div>

        <div >
          <div class="row ">
            <div class="col-md-12 ">
           
              
                <!--  <p>We provide the capabilities and services to assess the various strengths of your program from coach to player and bring clarity to your recruiting process with the overall vision: help you to see the unseen and build your winning culture!</p> -->
            </div>
          </div>
        </div>
  
      </div>
    </div>
  </section>
</div> <!-- container -->
