<% layout('../layout_main') -%>
    <header class="main-header">
        <div class="container">
            <h1 class="page-title">Team</h1>
            <ol class="breadcrumb pull-right">
                <li><a href="/">Pages</a></li>
                <li class="active">Team</li>
            </ol>
        </div>
    </header>
    <div class="container team-body">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="right-line">Who we are</h2>

                           <img src="/assets/img/concept-1868728_1920.jpg" alt="football" class="img-responsive">
                        <p class="dropcaps">The AgDiago team is comprised of top experts in technology and sports who possess industry leading knowledge and experience. Our team combines more than a century of experience in technology, coaching, athletics and business to work with you and guide you to victory on the field and beyond the game.</p>
                        <br>
                       <!-- <h5><b>Trustful</b></h5>
                        <p>Trust is greater than power. In the same manner teammates put their trust in each other. With information security and the handling of data comes a great need for trust. Trust is our top guiding principle.</p>
                        <br>
                        <h5><b>Imagine Experts</b></h5>
                        <p>Muhammad Ali once said, “If I can conceive it and my heart can believe it, then I can achieve it.” We couldn’t agree more… Our guiding principles combined with our expertise in sports and technology, help you see the unseen, and even better, achieve it!</p> -->
                    </div>
                </div>
                <!-- row -->
            </div>
            <div class="col-md-6">
                <aside class="sidebar">
                    <div class="col-md-12">
                        <h2 class="right-line">What we are</h2>

                            <h5><b>Authentic Relationships Builders</b></h5>
                        <p class="dropcaps">Authentic Relationships are the fields where true partnerships and friendships are grown. Creating authentic relationships with you is a vital part of our trust and our service. It isn’t just about knowing your needs and vision, it is truly understanding your needs and vision and making that journey together.</p>
                        <br>
                        <p >To help coaches and athletes create and build winning cultures and winning teams utilizing advanced technology, analytics and behavioral science.</p>
                      <p class="dropcaps">Trust is greater than power. In the same manner teammates put their trust in each other. With information security and the handling of data comes a great need for trust. Trust is our top guiding principle.</p>

                   
                    
                    </div>
                </aside>
            </div>
        </div>
        <!-- row -->
    </div>
